<div class="home-footer">
    <div class="newsletter">
        <h1 class="newsletter-header header-3">Subscribe to Our Newsletter</h1>
        <p class="newsletter-note text-1">Be the first to get our exclusive offers and lattest updates</p>
        <span class="newsletter-form">
            <input type="text" class="newsletter-email" id="email">
            <button class="newsletter-subscribe text-1">Subscribe</button>
        </span>
    </div>
    <div class="home-footer-links">
        <h1 class="app-name header-3">Contractor</h1>
        <span class="home-footer-links-list">
            <a href="#" class="home-footer-links-item text-1">About</a>
            <a href="#" class="home-footer-links-item text-1">Pricing</a>
            <a href="#" class="home-footer-links-item text-1">Privacy</a>
            <a href="#" class="home-footer-links-item text-1">Terms</a>
        </span>
    </div>
    <div class="home-footer-copyright text-2">@ Copyright 2024</div>
</div>