<div class="home-footer">
    <div class="newsletter">
        <h1 class="newsletter-header">Subscribe to Our Newsletter</h1>
        <p class="newsletter-note">Be the first to get our exclusive offers and lattest updates</p>
        <span class="newsletter-form">
            <input type="text" class="newsletter-email" id="email">
            <button class="newsletter-subscribe">Subscribe</button>
        </span>
    </div>
    <div class="home-footer-links">
        <h1 class="app-name">Contractor</h1>
        <span class="home-footer-links-list">
            <a href="#" class="home-footer-links-item">About</a>
            <a href="#" class="home-footer-links-item">Pricing</a>
            <a href="#" class="home-footer-links-item">Privacy</a>
            <a href="#" class="home-footer-links-item">Terms</a>
        </span>
    </div>
    <div class="home-footer-copyright">@ Copyright 2024</div>
</div>