:host {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content max-content 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "name more"
    "date version"
    "image image"
    ;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    gap: var(--gap-small);
    align-items: center;
    padding: var(--gap-small);

    .image {
        grid-area: image;
        padding: var(--gap-small);
        display: flex;
        align-items: center;
        justify-content: center;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        cursor: pointer;
        border-radius: var(--gap-small);
        box-shadow: var(--shadow-low);

        img {
            width: -webkit-fill-available;
            height: -webkit-fill-available;
        }
    }

    .name {
        grid-area: name;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }

    .version {
        grid-area: version;
    }

    .more {
        grid-area: more;
        place-self: end;
    }

    .date {
        grid-area: date;
        place-self: start;
    }
}