:host {
    display: none;
    box-shadow: var(--shadow-high);
    background-color: var(--color-white);
    border-radius: var(--gap-small);

    .header {
        display: flex;
        padding: var(--gap-normal) 0px;

        &-title {
            text-transform: capitalize;
        }
    }
}

@media only screen and (min-width: 760px){
    :host {
        display: grid;
    }
}