<img class="image" [src]="client.image || '../../../../assets/images/db.png'" alt="" srcset="">

<span class="details">
    <span class="name">
        <span class="text-1 fullname">{{(client.firstname || '') + ' ' + (client.lastname || '')}}</span>
        <span class="material-symbols-outlined badge">verified_user</span>
        <span class="text-1">@{{client.username}}</span>
    </span>
    <span class="text-1 statement">{{comment.statement}}</span>
    <span class="attachment"></span>
    <span class="stats">
        <app-icon-counter [flat]="true" icon="comment" [value]="comment.likes.length"></app-icon-counter>
        <app-icon-counter [flat]="true" [active]="liked" icon="thumb_up" [value]="comment.likes.length" (click)="likeToggle()"></app-icon-counter>
    </span>
    <span class="text-2 time">{{comment.createdAt | date}}</span>
</span>