:host {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    position: absolute;
    z-index: 1000;
    right: 1vw;
    top: 1vh;
    width: min(100%, 300px);
    gap: var(--gap-small);

    .toast {
        display: grid;
        grid-template-rows: repeat(2, max-content);
        padding: var(--gap-small);
        background-color: var(--color-light);
        position: relative;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);

        &-title {
            padding: var(--gap-x-small);
        }

        &-description {
            color: var(--color-dark);
            padding: var(--gap-x-small);
        }

        &-close {
            position: absolute;
            top: 0.5vh;
            right: 0.5vw;
            cursor: pointer;
            color: var(--color-dark);

            &:hover {
                color: var(--color-black);
            }
        }
    }

    .toast.is-error{
        border: 1px solid var(--color-error);
        color: var(--color-error);
    }
}

.active-toast {
    animation: slide-in 1s ease both;
    box-shadow: var(--shadow-small);
}

.inactive-toast {
    animation: slide-out-reverse 1s ease both;
}