:host {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    width: -webkit-fill-available;
    padding: var(--gap-normal);
    align-items: center;
    gap: var(--gap-normal);
    box-shadow: var(--shadow-medium);
    
    .image {
        width: 40px;
        height: 40px;
    }

    .attachment{
        .file {
            visibility: hidden;
            width: 0px;
        }
    }
}