<span class="key">
    <h5 class="text-1">{{ name }}</h5>
    <app-form-errors *ngIf="control" [control]="control" [name]="name"></app-form-errors>
</span>

<h5 class="text-1 value" *ngIf="!edit && type !== 'date' && !measure">{{ getValue() || value }}</h5>

<h5 class="text-1 value" *ngIf="!edit && type !== 'date' && measure" [unit]="measure">{{ getValue() || value }}</h5>

<h5 class="text-1 value" *ngIf="!edit && type === 'date' && !icon">{{ getValue() | date }}</h5>

<span class="material-symbols-outlined icon" *ngIf="icon" (click)="clickEvent.emit()">{{icon}}</span>

<input class="text-1 input" [type]="type" [name]="name" *ngIf="edit && !list" [formControl]="control" [ngClass]="{ invalid: control.invalid }">

<select class="text-1 select" [name]="name" *ngIf="edit && list" [ngClass]="{ invalid: control.invalid }" [formControl]="control">
    <option disabled value="">Select {{name}}</option>
    <option *ngFor="let item of list" [selected]="item === control.value" [ngValue]="item">{{ item }}</option>
</select>