<span class="form-control" [ngClass]="{ invalid: (control.invalid && control.touched) }" (click)="input.focus()">
    <span class="info" *ngIf="label">
        <label [for]="name" class="form-control-label text-1">{{name}}</label>
        <h1 *ngIf="measure" class="text-2 unit">{{measure}}</h1>
    </span>
    
    <input 
        #input
        type="checkbox"
        [name]="name" 
        class="form-control-data text-1 checkbox" 
        [formControl]="control" 
        [placeholder]="placeholder"
        [required]="required"
        (change)="changed.emit(input.value)">
    
    <h1 *ngIf="note" class="text-2">{{note}}</h1>
</span>
<app-form-errors [control]="control" [name]="name"></app-form-errors>
