:host {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "image title title"
    "image duration price"
    ;
    width: -webkit-fill-available;
    gap: var(--gap-small);
    padding: var(--gap-small);
    border-radius: var(--gap-small);
    border: 1px solid var(--color-primary);
    align-items: center;
    cursor: pointer;

    .image {
        grid-area: image;
        border: 1px solid var(--color-secondary);
        border-radius: 50%;
        padding: var(--gap-small);
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--gap-big);
        height: var(--gap-big);

        img {
            width: inherit;
            height: inherit;
        }
    }

    .title {
        grid-area: title;
        text-align: left;
    }

    .duration {
        grid-area: duration;
    }

    .price {
        grid-area: price;
        align-content: center;
    }

    .delete {
        color: var(--color-primary);
    }
}

@media only screen and (min-width: 760px){
    :host {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "image title duration price"
        ;
    }
}