<div class="home-features">
    <h1 class="home-features-title">Our Key Features</h1>
    <div class="home-features-list">
        <span class="home-features-item">
            <img src="../../../assets/images/feature_1.png" alt="" class="home-features-image">
            <p class="home-features-description">
                Dignissim dictum nisi mattis nunc. Pellentesque non amet lorem nibh augue quis bibendum.
            </p>
        </span>

        <span class="home-features-item">
            <img src="../../../assets/images/feature_2.png" alt="" class="home-features-image">
            <p class="home-features-description">
                Dignissim dictum nisi mattis nunc. Pellentesque non amet lorem nibh augue quis bibendum.
            </p>
        </span>

        <span class="home-features-item">
            <img src="../../../assets/images/feature_3.png" alt="" class="home-features-image">
            <p class="home-features-description">
                Dignissim dictum nisi mattis nunc. Pellentesque non amet lorem nibh augue quis bibendum.
            </p>
        </span>
    </div>
</div>