.home-testimonials {
    display: flex;
    padding: var(--gap-x-big);
    flex-direction: column;
    align-items: center;
    gap: var(--gap-x-big);

    &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-x-big);
        flex-wrap: wrap;
    }

    &-item {
        width: min-content;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-small);
        border-radius: var(--gap-small);
        border: 1px solid var(--color-light-variant);
        background: var(--color-light);
    }

    &-image {
        width: 25rem;
        height: 25rem;
        border-radius: 21.875rem;
    }

    &-details {
        display: flex;
        padding: var(--gap-normal);
        flex-direction: column;
        align-items: center;
        gap: var(--gap-x-small);
        align-self: stretch;
        border-radius: var(--gap-small);
        background: var(--color-light-variant);
    }

    &-fullname {
        color: var(--color-dark);
        text-align: center;
    }

    &-description {
        color: var(--color-dark);
        text-align: center;
    }
}

.active-testimonial {
    display: flex;
}

.inactive-testimonial {
    display: none;
}

@media only screen and (min-width: 700px){
    .home-testimonials {

        &-list {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: var(--gap-max);
        }

        &-switcher {
            display: none;
        }
    }
    
    .active-testimonial {
        display: flex;
    }
    
    .inactive-testimonial {
        display: flex;
    }
}