<h1 class="page-title header-3">Customer Testimonials</h1>
<div class="list">
    <div 
        class="item elevated" 
        *ngFor="let testimonial of testimonials; index as i"
        [ngClass]="{ 'active-testimonial': i === current, 'inactive-testimonial': i !== current }">
        <img [src]="testimonial.image" alt="" class="image">
        <span class="details">
            <h1 class="fullname header-3">{{testimonial.fullname}}</h1>
            <p class="description text-1">{{testimonial.description}}</p>
        </span>
    </div>
</div>
<app-switcher class="switcher" [current]="current" [totalItems]="testimonials.length" (selected)="setCurrent($event)">
</app-switcher>