<div class="section">
    <span class="header">
        <h1 class="header-3">Personal</h1>
        <span class="material-symbols-outlined icon">person</span>
    </span>

    <div class="list">
        <span class="item" (click)="popupService.open('verify-email')">
            <h1 class="text-1">Email Verification</h1>
            <span class="material-symbols-outlined icon">check_circle</span>
            pending_actions, cancel
        </span>

        <span class="item" (click)="popupService.open('verify-identity')">
            <h1 class="text-1">Identity Verification</h1>
            <span class="material-symbols-outlined icon">check</span>
        </span>

        <span class="item" (click)="popupService.open('verify-address')">
            <h1 class="text-1">Address Verification</h1>
            <span class="material-symbols-outlined icon">check</span>
        </span>
    </div>
</div>

<div class="section">
    <span class="header">
        <h1 class="header-3">Legal</h1>
        <span class="material-symbols-outlined icon">person</span>
    </span>

    <div class="list">
        <span class="item" (click)="popupService.open('verify-banking')">
            <h1 class="text-1">Banking Verification</h1>
            <span class="material-symbols-outlined icon">check</span>
        </span>

        <span class="item" (click)="popupService.open('update-signature')">
            <h1 class="text-1">Update Signature</h1>
            <span class="material-symbols-outlined icon">check</span>
        </span>
    </div>
</div>

<div class="section" *ngIf="client.business">
    <span class="header">
        <h1 class="text-1">Corporate</h1>
        <span class="material-symbols-outlined icon">corporate_fare</span>
    </span>

    <div class="list">
        <span class="item" (click)="popupService.open('company-incorporation')">
            <h1 class="text-1">Company Incorporation</h1>
            <span class="material-symbols-outlined icon">check</span>
        </span>

        <span class="item" (click)="popupService.open('board-resolution')">
            <h1 class="text-1">Board Resolution</h1>
            <span class="material-symbols-outlined icon">check</span>
        </span>

        <span class="item" (click)="popupService.open('article-of-association')">
            <h1 class="text-1">Article Of Association</h1>
            <span class="material-symbols-outlined icon">check</span>
        </span>
    </div>
</div>

<app-popup heading="Email Verification" name="verify-email">
    
</app-popup>

<app-popup heading="Identiy Verification" name="verify-identity">
    
</app-popup>

<app-popup heading="Address Verification" name="verify-address">
    
</app-popup>

<app-popup heading="Banking Verification" name="verify-banking">
    
</app-popup>

<app-popup heading="Update Signature" name="update-signature">
    <app-signature [compliance]="getCompliance(complianceTitleEnum.SIGNATURE)" (signed)="popupService.close('update-signature')"></app-signature>
</app-popup>

<app-popup heading="Company Incorporation" name="company-incorporation">
    
</app-popup>

<app-popup heading="Board Resolution" name="board-resolution">
    
</app-popup>

<app-popup heading="Article Of Association" name="article-of-association">
    
</app-popup>
