:host {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-big);
    padding: var(--gap-small);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    
    .section {
        display: flex;
        flex-direction: column;
        gap: var(--gap-normal);
        padding: var(--gap-normal);
        border-radius: var(--gap-small);
        box-shadow: var(--shadow-low);
        height: fit-content;

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: var(--gap-normal);

            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: var(--gap-small);
                border-radius: var(--gap-small);
                border: 1px solid var(--color-light);
                cursor: pointer;
            }
        }

        .icon {
            color: var(--color-primary);
        }
    }
}

@media only screen and (min-width: 760px){
    :host {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-x-big);
    }
}