<div class="header">
    <span class="image">
        <img [src]="deliverable.image || '../../../../assets/images/db.png'" alt="" srcset="">
    </span>

    <span class="text-2 tag">Contract - Deliverable</span>

    <span class="header-3 title">{{deliverable.title}}</span>
</div>

<div class="section details">
    <h1 class="text-1 section-title">Details</h1>
    <div class="details-list section-container">
        <app-keyvalue name="duration" [value]="deliverable.duration" unit="Days"></app-keyvalue>
        <app-keyvalue name="price" [value]="deliverable.price" unit="NGN"></app-keyvalue>
        <app-keyvalue name="started at" [value]="deliverable.startedAt" type="date"></app-keyvalue>
        <app-keyvalue name="finished at" [value]="deliverable.finishedAt" type="date"></app-keyvalue>
    </div>
</div>

<div class="section description">
    <h1 class="text-1 section-title">Description</h1>
    <pre class="description-text text-1 section-container">{{deliverable.description}}</pre>
</div>

<div class="section documents">
    <app-attachment-list [viewOnly]="[contractStatus.REQUESTED, contractStatus.APPROVED].includes(contract.status)" [modelId]="this.id" [model]="attatmentModel.CONTRACT_DELIVERABLE" class="section-container" [add]="false" (commented)="addComment($event)"></app-attachment-list>
</div>

<app-more class="more" [list]="moreList" [elevated]="true"></app-more>

<app-popup [name]="'contract-deliverable-comment-' + id" heading="Comments">
    <app-comment-list [model]="commentModel" [modelId]="id"></app-comment-list>
</app-popup>

<app-popup [name]="'contract-deliverable-share-' + id" heading="Share">
    <!-- <app-share [link]="'contract/'+deliverable.contractId+'/deliverables/'+deliverable._id" (shareTo)="updateSharedList($event)"></app-share> -->
</app-popup>