<div class="header">
  <h1 class="header-3">How it works</h1>
  <span class="text-1 description">Core values that drive our commitment to your success.</span>
</div>
<div class="list">
    <div class="item">
      <span class="material-symbols-outlined icon">chat</span>
        <span class="details">
            <h5 class="name text-1">Talk to us</h5>
            <p class="description text-3">Share your vision and challenges. We listen to understand your unique needs.</p>
        </span>
    </div>

    <div class="item reversed">
      <span class="material-symbols-outlined icon">build</span>
        <span class="details">
            <h5 class="name text-1">We build & automate</h5>
            <p class="description text-3">Our experts design and implement tailored solutions, from web apps to AI agents.</p>
        </span>
    </div>

    <div class="item">
      <span class="material-symbols-outlined icon">trending_up</span>
        <span class="details">
            <h5 class="name text-1">You grow effortlessly</h5>
            <p class="description text-3">With your new systems in place, you can focus on scaling your business.</p>
        </span>
    </div>
</div>
