:host {
    display: flex;
    padding: var(--space-x-big) 5%;
    flex-direction: column;
    align-items: center;
    gap: var(--space-x-big);
    align-self: stretch;
    background: var(--color-light);

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-normal);

      .description {
        text-align: center;
        color: var(--color-accent);
      }
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-x-big);
        padding: var(--space-x-big);
        width: calc(100% - var(--space-x-big));
    }

    .item {
        display: flex;
        align-self: flex-start;
        align-items: flex-start;
        padding: var(--space-small);
        gap: var(--space-x-small, 1rem);
        box-shadow: var(--shadow-low);

        .icon {
          font-size: var(--space-big);
          border-radius: 100%;
          color: var(--color-secondary);
          padding: var(--space-normal);
          background-color: rgba($color: #5F3DC4, $alpha: .1);
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: var(--space-small);
            flex: 1 0 0;

            .name {
              color: var(--color-dark);
              text-align: center;
          }

          .description {
              color: var(--color-dark);
              text-align: left;
          }
        }
    }
}

@media only screen and (min-width: 760px){
    :host {
        padding: var(--space-x-big);
        gap: var(--space-x-big);
        align-self: stretch;

        .list {
            width: 80%;

            .item {
                padding: var(--space-normal);
                gap: var(--space-normal);
                width: 50%;
            }

            .reversed {
              align-self: flex-end !important;
            }
        }
    }
}
