:host {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: -webkit-fill-available;
    gap: var(--gap-small);
    padding: var(--gap-small);
    border-radius: var(--gap-small);
    border: 1px solid var(--color-secondary);
    align-items: center;
    cursor: pointer;

    .image {
        grid-area: image;
        border: 1px solid var(--color-secondary);
        border-radius: 50%;
        padding: var(--gap-small);
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--gap-big);
        height: var(--gap-big);

        img {
            width: inherit;
            height: inherit;
        }
    }
}

@media only screen and (min-width: 760px){
}