:host {
    border-radius: var(--gap-small);
    border: 1px solid var(--color-primary);
    background: var(--color-light);
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    display: flex;

    .key, .value, .input, .select{
        color: var(--color-dark);
        width: calc(100% - var(--gap-small) * 2);
        padding: var(--gap-small);
    }

    .key {
        text-transform: capitalize;
    }

    .value {
        text-align: right;
    }

    .input, .select {
        background-color: transparent;
        border: none;
        border: 1px solid var(--color-primary);
        transition: ease-in-out;
        transition-duration: .5s;
        color: var(--color-dark);
        box-shadow: var(--shadow-elevated);
        border-radius: var(--XSmall-Gap, 5px);

        &:hover {
            box-shadow: none;
        }
    }

    .invalid {
        border: 1px solid var(--color-error) !important;
    }
}