:host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    border-radius: var(--XSmall-Gap, 5px);
    border: 1px solid var(--Primary, #22D896);
    background: var(--Light-Variant, #EBFDF6);

    .keyvalue {
        display: flex;
        padding: var(--Small-Gap, 10px);
        align-items: center;
        justify-content: space-between;
        align-self: stretch;
        border-bottom: 1px solid var(--Primary, #22D896);

        &:last-of-type {
            border-bottom: none;
        }
    }

    .key {
        color: var(--color-dark);
        text-transform: capitalize;
    }

    .value {
        color: var(--color-dark-variant);
        text-transform: capitalize;
    }
}