<span class="info">
    <label [for]="name" class="label text-1">{{name}}</label>
    <h1 *ngIf="measure" class="measure">{{measure}}</h1>
</span>

<select class="form-control select text-1" [name]="name" [ngClass]="{ invalid: (control.invalid && control.touched) }" [formControl]="control" >
    <option disabled value="">Select {{name}}</option>
    <option *ngFor="let item of list" [selected]="item === control.value" [ngValue]="item">{{ item }}</option>
</select>

<app-form-errors [control]="control" [name]="name"></app-form-errors>