<span class="header">
    <span class="title">
        <span class="text-1">{{transaction.title}}</span>
    </span>

    <span class="details">
        <span class="text-2">{{transaction.createdAt | date}}</span>
        <span class="text-2" unit="NGN">{{transaction.amount | currency:' '}}</span>
    </span>
</span>

<span class="summery">
    <span class="object">
        <span class="object-key">Status</span>
        <span class="object-value">{{transaction.status}}</span>
    </span>

    <span class="object">
        <span class="object-key">Product Name</span>
        <span class="object-value">{{transaction.model}}</span>
    </span>

    <span class="object">
        <span class="object-key">Product ID</span>
        <span class="object-value">{{transaction.modelId}}</span>
    </span>

    <span class="object">
        <span class="object-key">Transaction ID</span>
        <span class="object-value">{{transaction._id}}</span>
    </span>

    <span class="object">
        <span class="object-key">Reference</span>
        <span class="object-value">{{transaction.reference}}</span>
    </span>
</span>

<span class="button" (click)="share()">
    <span class="material-symbols-outlined">share</span>
    <span class="text-1">Share</span>
</span>
