<div class="message">
  <div class="header">
    <h1 class="header-3">Ready to Automate?</h1>
    <span class="text-1 description">Join our waitlist to get early access and updates on our agentic AI solutions. Let's build the future, together.</span>
  </div>

  <span class="list">
    <div class="item">
      <span class="material-symbols-outlined icon">check_circle</span>
      <p class="description text-2">Priority access to new features</p>
    </div>

    <div class="item">
      <span class="material-symbols-outlined icon">check_circle</span>
      <p class="description text-2">Exclusive content and insights</p>
    </div>

    <div class="item">
      <span class="material-symbols-outlined icon">check_circle</span>
      <p class="description text-2">A consultation on your automation needs</p>
    </div>
  </span>
</div>

<div class="newsletter">
    <h1 class="text-1">Join the Waitlist</h1>
    <span class="newsletter-form">
        <m-text-input type="text" [control]="formControls.fullname" name="Fullname"></m-text-input>
        <m-text-input type="email" [control]="formControls.email" name="Email"></m-text-input>
        <m-text-area type="text" [control]="formControls.message" name="Message"></m-text-area>
        <m-button [disabled]="form.invalid || submit" [text]="'Join Waitlist'" (click)="join()"></m-button>
    </span>
</div>
