:host {
    display: flex;
    padding: var(--gap-x-big) var(--gap-normal);
    flex-direction: column;
    align-items: center;
    gap: var(--gap-big);
    height: 100%;
    width: 100%;
    background-color: var(--color-light);
}

@media only screen and (min-width: 700px){
    :host {
        padding: var(--gap-x-big);
        gap: var(--gap-big);
        max-width: var(--enclosed-tiny);
        height: 50%;
        width: 50%;
        margin: auto;
        box-shadow: var(--shadow-elevated);
        border-radius: var(--gap-x-small);
    }
}