.switcher {
    display: flex;
    align-items: center;
    gap: 2rem;

    &-item {
        display: flex;
        width: var(--gap-normal);
        height: var(--gap-normal);
        justify-content: center;
        align-items: center;
        gap: var(--gap-small);
        border-radius: 100%;
        border: 3px solid var(--color-primary);
        cursor: pointer;

        &-hole {
            width: 50%;
            height: 50%;
            flex-shrink: 0;
            background-color: var(--color-primary);
            border-radius: 100%;
        }
    }
}