:host {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    padding: var(--gap-normal);
    gap: var(--gap-normal);

    .header {
        display: flex;
        flex-direction: column;
        width: -webkit-fill-available;
        gap: var(--gap-small);

        .title {
            display: flex;
            flex-direction: row;
            width: -webkit-fill-available;
            gap: var(--gap-small);
            justify-content: space-between;
            align-items: center;
        }

        .details {
            display: flex;
            flex-direction: row;
            width: -webkit-fill-available;
            gap: var(--gap-small);
            justify-content: space-between;
            align-items: center;
        }
    }

    .summary {
        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow-low);
        border-radius: var(--gap-x-small);
        padding: var(--gap-small);
        line-height: var(--gap-normal);
    }

    .controls {
        align-self: center;
    }
}

@media only screen and (min-width: 760px){
    :host {
        
    }
}