:host {
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);
    padding: var(--gap-normal);
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;

    .title {
        color: var(--color-dark);
        text-transform: capitalize;
    }

    .description {
        color: var(--color-secondary);
    }
}