<div class="header">
    <h1 class="header-title header-3">Projects</h1>

    <span class="header-controls">
        <span class="material-symbols-outlined header-controls-icon">filter_alt</span>
        <span class="material-symbols-outlined header-controls-icon" routerLink="/projects/create">add</span>
    </span>
</div>

<div class="list" *ngIf="projects.length">
    <app-table-header class="table-header" [list]="['', 'title', 'category', 'duration', 'price']"></app-table-header>
    <app-project-item *ngFor="let item of projects" [project]="item" [routerLink]="'/projects/' + item._id"></app-project-item>
</div>

<app-empty *ngIf="!projects.length" name="project"></app-empty>