:host {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    gap: var(--gap-small);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .copy {
            display: flex;
            align-items: center;
            gap: var(--gap-small);

            &-icon {
                cursor: pointer;
            }
        }
    }

    .message {
        border: 1px solid var(--color-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: -webkit-fill-available;
        border-radius: var(--gap-small);
        height: fit-content;

        .control {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: -webkit-fill-available;
            padding: var(--gap-x-small);
        }
    
        .search{
            border: none;
            height: 30px;
            width: -webkit-fill-available;
        }
    
        .result {
            max-height: 200px;
            display: flex;
            flex-wrap: wrap;
            gap: var(--gap-small);
            padding: var(--gap-small);
            border-top: 1px solid var(--color-primary);
            width: -webkit-fill-available;
    
            &-item {
                display: flex;
                flex-direction: column;
                gap: var(--gap-x-small);
                padding: var(--gap-small);
                border-radius: var(--gap-x-small);
                cursor: pointer;
                align-items: center;
                width: 50px;
    
                .image {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                }
            }
    
            .selected {
                box-shadow: var(--shadow-high);
            }
        }
    }
}