<span class="app-details" routerLink="/">
    <span class="material-symbols-outlined icon">contract</span>
</span>

<div class="controls">
    <span class="material-symbols-outlined controls-item" routerLink="/search">search</span>
    <span class="material-symbols-outlined controls-item" routerLink="/profile">person</span>
    <span class="material-symbols-outlined controls-item" routerLink="/notifications">notifications</span>
    <span class="material-symbols-outlined controls-item" (click)="logout()">logout</span>
</div>