<div class="header">
    <h1 class="header-title header-3">Project Deliverables</h1>

    <span class="header-controls">
        <span class="material-symbols-outlined icon clickable">filter_alt</span>
        <span class="material-symbols-outlined icon clickable" [routerLink]="'/projects/'+id+'/deliverables/create'">add</span>
    </span>
</div>

<div class="deliverables" *ngIf="deliverables.length">
    <app-table-header class="table-header" [list]="['', 'title', 'duration', 'price']"></app-table-header>
    <div class="deliverables-list">
        <app-project-deliverable-item *ngFor="let item of deliverables" [deliverable]="item" [routerLink]="'/projects/' + item.projectId + '/deliverables/' + item._id"></app-project-deliverable-item>
    </div>
</div>

<app-empty *ngIf="!deliverables.length" name="project deliverable"></app-empty>