<div class="header">
    <h1 class="header-title header-3">Notifications</h1>

    <span class="header-controls">
        <span class="material-symbols-outlined header-controls-icon">filter_alt</span>
    </span>
</div>

<div class="notifications" *ngIf="notifications.length">
    <app-table-header [list]="['', 'title', 'status', 'date']"></app-table-header>
    <div class="notifications-list">
        <app-notification-item [notification]="item" *ngFor="let item of notifications" [userId]="auth.id" (click)="openNotification(item._id)"></app-notification-item>
    </div>
</div>

<app-empty *ngIf="!notifications.length" name="notification"></app-empty>

<app-popup [name]="'notification-view'" heading="Notification">
    <app-notification-view *ngIf="selectedNotificationId" [id]="selectedNotificationId" [userId]="auth.id"></app-notification-view>
</app-popup> 