<app-input type="text" name="bank name" class="form-group" [control]="getControl('bankName')"></app-input>
<app-input type="text" name="account number" class="form-group" [control]="getControl('accountNumber')"></app-input>
<app-input type="text" name="account name" class="form-group" [control]="getControl('accountName')"></app-input>
<app-checkbox type="checkbox" name="default" class="form-group" [control]="getControl('default')"></app-checkbox>

<button 
    [disabled]="!updateData || form.invalid"
    class="button form-group text-1"
    type="submit"
    (click)="updateBank()">
    Update Bank
</button>

<button 
    class="button form-group text-1"
    type="submit"
    (click)="deleteBank()">
    Delete Bank
</button>