:host {
    display: flex;
    padding: var(--gap-x-big) var(--gap-normal);
    flex-direction: column;
    align-items: center;
    gap: var(--gap-big);
    height: calc(100% - calc(var(--gap-x-big) * 2));
    width: calc(100% - calc(var(--gap-normal) * 2));
}