<div class="header">
    <h1 class="text-1 title">Files</h1>
    <span class="icons">
        <span class="material-symbols-outlined" (click)="popupService.open(model + '-attatchment-upload-' + modelId)" >add</span>
    </span>
</div>

<div class="list" *ngIf="attatchments.length">
    <app-attatchment-item *ngFor="let item of attatchments" [id]="item._id"></app-attatchment-item>
</div>

<app-empty *ngIf="!attatchments.length" [name]="model + 'attatchments'"></app-empty>

<app-popup [name]="model + '-attatchment-upload-' + modelId">
    <app-attatchment-upload [model]="model" [modelId]="modelId" [popupId]="model + '-attatchment-upload-' + modelId"></app-attatchment-upload>
</app-popup>