<h1 class="page-title header-3">New Deliverable</h1>

<div class="container">
    <form action="" class="form" [formGroup]="form" (ngSubmit)="createDeliverable()">
        <app-input type="text" name="title" class="form-group" [control]="getControl('title')"></app-input>
        <div class="form-collection">
            <app-input type="number" name="price" class="form-group" [control]="getControl('price')" measure="NGN"></app-input>
            <app-input type="number" name="duration" class="form-group" [control]="getControl('duration')" measure="Days"></app-input>
        </div>
        <app-text-area type="text" name="description" class="form-group" [control]="getControl('description')"></app-text-area>
        <app-file-input [multiple]="true" name="documents" class="form-group" [control]="getControl('documents')"></app-file-input>
        <app-file-input name="image" class="form-group" [control]="getControl('image')"></app-file-input>
        <button 
            [disabled]="form.invalid"
            class="button form-group text-1"
            type="submit">
            Create Deliverable
        </button>
    </form>
</div>