<h1 class="page-title header-3">Welcome back!</h1>

<div class="container">
    <form action="" class="form" [formGroup]="form" (ngSubmit)="login()">
        <app-input type="email" name="email" class="form-group" formControlName="email" #email></app-input>
        <app-password class="form-group" formControlName="password" [clientEmail]="form.get('email')?.value"></app-password>

        <button 
            [disabled]="form.invalid"
            class="button form-group text-1"
            type="submit">
            Login
        </button>
    </form>

    <app-alt-auth></app-alt-auth>
    
    <span class="register-option text-2">
        Don't have an account yet? <a [routerLink]="'/register'">Sign Up</a>
    </span>
</div>