:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "details"
        "description"
        "documents"
        "button"
    ;
    justify-content: center;
    gap: var(--gap-big);
    padding: var(--gap-small);
    width: -webkit-fill-available;
    height: max-content;

    .header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: -webkit-fill-available;
        gap: var(--gap-small);
        justify-self: center;

        .image {
            border-radius: var(--gap-normal);
            box-shadow: var(--shadow-high);
            padding: var(--gap-small);
            display: flex;
            align-items: center;
    
            img {
                height: 200px;
                width: 200px;
            }
        }

        .controls {
            display: flex;
            box-shadow: var(--shadow-high);
            padding: var(--gap-small);
            border-radius: var(--gap-normal);
            width: -webkit-fill-available;
            justify-content: space-around;
            align-items: center;
            gap: var(--gap-small);

            .stats {
                display: flex;
                padding: var(--gap-x-small);
                border-radius: var(--gap-normal);
                border: 1px solid var(--color-light);
                width: -webkit-fill-available;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);
        padding: var(--gap-normal);
        height: -webkit-fill-available;
        box-shadow: var(--shadow-high);
        border-radius: var(--gap-normal);

        &-title {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-black);
            padding: var(--gap-small);
        } 

        &-icons {
            display: flex;
            gap: var(--gap-small);

            span {
                cursor: pointer;
            }
        }
    }

    .details {
        grid-area: details;

        &-list {
            display: flex;
            flex-direction: column;
            gap: var(--gap-small);
            border-radius: var(--gap-normal);
            height: -webkit-fill-available;
        }
    }

    .documents {
        grid-area: documents;
        padding: 0px !important;

        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--gap-normal);
            width: -webkit-fill-available;
            padding: var(--gap-normal) var(--gap-none);
        }
    }

    .description {
        grid-area: description;
    }

    .button {
        grid-area: button;
        width: --webkit-fill-available;
    }
}

@media only screen and (min-width: 760px){
    :host {
        padding: var(--gap-x-big);
        gap: var(--gap-x-big);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "header header"
            "details description"
            "documents documents"
            "button button"
        ;
        max-width: 1000px;

        .header {
            width: min-content;

            .image {
                height: -webkit-fill-available;
            }

            .controls {
                gap: var(--gap-x-big);
                padding: var(--gap-small);

                .stats {
                    gap: var(--gap-x-big);
                    padding: var(--gap-small);
                    width: -webkit-fill-available;
                }
            }
        }

        .section {
            gap: var(--gap-normal);

            &-title {
                padding: var(--gap-small) 0px;
            }
        }

        .button {
            width: min-content;
            justify-self: center;
        }
    }
}