<img class="image" [src]="projectDeliverable.image || '../../../../assets/images/db.png'" alt="" srcset="">
<div class="details">
    <span class="header-3 title">{{projectDeliverable.title}}</span>
    <div class="summery">
        <app-keyvalue name="duration" [value]="projectDeliverable.duration" unit="Days"></app-keyvalue>
        <app-keyvalue name="price" [value]="projectDeliverable.price" unit="NGN"></app-keyvalue>
    </div>
</div>

<div class="description">
    <h1 class="text-1 description-title">Description</h1>
    <p class="description-text text-1">{{projectDeliverable.description}}</p>
</div>

<div class="files">
    <div class="files-header">
        <h1 class="text-1 files-title">Files</h1>
        <span class="files-icons">
            <span class="material-symbols-outlined" [routerLink]="'/projects/' + id + '/deliverables/create' ">add</span>
            <span class="material-symbols-outlined" [routerLink]="'/projects/' + id + '/deliverables' ">arrow_outward</span>
        </span>
    </div>

    <div class="files-list" *ngIf="projectDeliverable.documents.length">
        <!-- <app-project-deliverable-files *ngFor="let item of projectDeliverable.documents" [deliverable]="item" [routerLink]="'/projects/' + item.projectId + '/deliverables/' + item._id"></app-project-deliverable-files> -->
    </div>
    
    <app-empty *ngIf="!projectDeliverable.documents.length" name="project deliverable"></app-empty>
</div>

<div class="controls">
    <app-icon-counter icon="thumb_up" [value]="10"></app-icon-counter>
    <app-icon-counter icon="comment" [value]="10"></app-icon-counter>
    <app-icon-counter icon="share" [value]="10"></app-icon-counter>
    <app-more class="more" [list]="moreList"></app-more>
</div>

<app-popup name="project-deliverable-update">
    <app-project-deliverable-update></app-project-deliverable-update>
</app-popup>

<app-popup name="project-deliverable-delete">
    <app-warn title="Delete Project" description="This project deliverable will be deleted. Click 'Continue' to proceed." (proceed)="deleteProjectDeliverable()"></app-warn>
</app-popup>