<div class="header">
    <span class="image">
        <img [src]="deliverable.image || '../../../../assets/images/db.png'" alt="" srcset="">
    </span>

    <span class="text-2 tag">Project - Deliverable</span>

    <span class="header-3 title">{{deliverable.title}}</span>

    <div class="controls">
        <span class="stats">
            <app-icon-counter [active]="liked" icon="thumb_up" [value]="deliverable.likes.length" (click)="likeToggle()"></app-icon-counter>
            <app-icon-counter icon="share" [value]="0"></app-icon-counter>
            <app-icon-counter icon="comment" [value]="commentsCount" (click)="popupService.open('project-deliverable-comment-' + id);"></app-icon-counter>
        </span>
        <app-more class="more" [list]="moreList"></app-more>
    </div>
</div>

<div class="section details">
    <h1 class="text-1 section-title">Details</h1>
    <div class="summery">
        <app-keyvalue name="duration" [value]="deliverable.duration" unit="Days"></app-keyvalue>
        <app-keyvalue name="price" [value]="deliverable.price" unit="NGN"></app-keyvalue>
    </div>
</div>

<div class="section description">
    <h1 class="text-1 section-title">Description</h1>
    <p class="description-text text-1">{{deliverable.description}}</p>
</div>

<div class="section documents">
    <app-attachment-list [modelId]="this.id" model="project deliverable"></app-attachment-list>
</div>

<app-popup [name]="'project-deliverable-update-' + id">
    <app-project-deliverable-update></app-project-deliverable-update>
</app-popup>

<app-popup [name]="'project-deliverable-delete-' + id">
    <app-warn title="Delete Project" description="This project deliverable will be deleted. Click 'Continue' to proceed." (proceed)="delete()"></app-warn>
</app-popup>

<app-popup [name]="'project-deliverable-comment-' + id">
    <app-comment-list [model]="commentModel" [modelId]="id"></app-comment-list>
</app-popup>