:host {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas: 
        "image image"
        "details controls"
        "description description"
        "files files"
        "button button"
    ;
    justify-content: center;
    gap: var(--gap-big);
    padding: var(--gap-small);
    width: -webkit-fill-available;
    height: max-content;

    .image {
        grid-area: image;
        border-radius: var(--gap-normal);
        box-shadow: var(--shadow-high);
        padding: var(--gap-small);
        display: flex;
        align-items: center;

        img {
            height: 200px;
            width: 200px;
        }
    }

    .details {
        grid-area: details;
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);
        padding: var(--gap-small);
        height: -webkit-fill-available;
        box-shadow: var(--shadow-high);
        border-radius: var(--gap-normal);

        .title {
            color: var(--color-black);
        }

        .summery {
            display: flex;
            flex-direction: column;
            gap: var(--gap-small);
            border-radius: var(--gap-normal);
            height: -webkit-fill-available;
        }
    }

    .description {
        grid-area: description;
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);
        padding: var(--gap-normal);
        height: -webkit-fill-available;
        box-shadow: var(--shadow-high);
        border-radius: var(--gap-normal);

        &-title {
            border-bottom: 1px solid var(--color-black);
        }
    }

    .documents {
        grid-area: files;
        box-shadow: var(--shadow-high);
        border-radius: var(--gap-normal);

        &-header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-black);
            padding: 0% var(--gap-small);
        }

        &-icons {
            display: flex;
            gap: var(--gap-small);

            span {
                cursor: pointer;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--gap-normal);
            width: -webkit-fill-available;
            padding: var(--gap-normal) var(--gap-none);
        }
    }

    .controls {
        grid-area: controls;
        display: flex;
        flex-direction: column;
        gap: var(--gap-normal);
        align-self: flex-end;
        box-shadow: var(--shadow-high);
        padding: var(--gap-x-small);
        border-radius: var(--gap-normal);
        height: -webkit-fill-available;
        justify-content: space-around;
    }

    .button {
        grid-area: button;
        width: --webkit-fill-available;
    }
}

@media only screen and (min-width: 760px){
    :host {
        padding: var(--gap-x-big);
        gap: var(--gap-x-big);
        grid-template-columns: repeat(7, 1fr) min-content;
        grid-template-areas: 
            "image image details details details details details details"
            "description description description description description description description controls"
            "files files files files files files files files"
            ". . button button button button . ."
        ;
        max-width: 1000px;

        .image {
            height: -webkit-fill-available;
        }

        .header {
            box-shadow: var(--shadow-high);
            border-radius: var(--gap-small);
        }

        .description {
            gap: var(--gap-normal);

            &-title {
                padding: var(--gap-small) 0px;
            }
        }
    }
}