<div class="header">
    <span class="image">
        <img [src]="project.image || '../../../../assets/images/db.png'" alt="" srcset="">
    </span>

    <span class="header-3 title">{{project.title}}</span>
</div>

<div class="section details">
    <h1 class="text-1 section-title">Details</h1>
    <div class="details-list section-container">
        <app-keyvalue name="duration" [value]="duration" unit="Days"></app-keyvalue>
        <app-keyvalue name="price" [value]="price" unit="NGN"></app-keyvalue>
        <app-keyvalue name="wallet" [value]="project.status"></app-keyvalue>
    </div>
</div>

<div class="section deliverables">
    <div class="section-title">
        <h1 class="text-1 section-title-text">Deliverables</h1>
    </div>

    <div class="deliverables-list section-container">
        <app-project-deliverable-item *ngFor="let item of deliverables" [deliverable]="item" [routerLink]="'/projects/' + item.projectId + '/deliverables/' + item._id"></app-project-deliverable-item>
        <span class="material-symbols-outlined">delete</span>
    </div>
</div>

<button 
    [disabled]="form.invalid"
    class="button form-group text-1"
    type="submit">
    Request Contract
</button>