:host {
    position: relative;
    
    .icon {
        display: inline-flex;
        align-items: flex-start;
        cursor: pointer;
    }
    
    .elevated {
        color: var(--color-white);
        background: var(--color-primary);
        border-radius: var(--gap-x-big);
        box-shadow: var(--shadow-high);
        padding: var(--gap-small);
    }
    
    .options {
        position: absolute;
        right: calc(100% - calc(2 * var(--gap-small)));
        display: flex;
        flex-direction: column;
        border: 1px solid var(--color-primary);
        border-radius: var(--gap-small);
        background-color: var(--color-white);
        z-index: calc(var(--index-elevated) + 1);

        &-item {
            display: flex;
            align-items: center;
            gap: var(--gap-small);
            padding: var(--gap-small);
            color: var(--color-dark);
            cursor: pointer;
    
            &:hover {
                color: var(--color-primary);
            }
        }
    
        &-title {
            text-wrap: nowrap;
            color: inherit;
        }
    
        &::before {
            position: relative;
        }
    }

    .down-option {
        top: 50%;
    }

    .up-option {
        bottom: 50%;
    }
    
    .cover {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: var(--index-elevated);
    }
}