:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .header {
        padding: 0px var(--gap-small);
        display: flex;
        gap: var(--gap-small);
        align-items: center;
    }

    .list {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--gap-normal);
        padding: var(--gap-small);
        overflow: auto;
    }
}