<span class="image"><img src="../../../../assets/images/db.png" alt=""></span>
<span class="name text-1">{{attatchment.name}}</span>
<span class="version text-2">{{ 'V.' + attatchment.version}}</span>
<app-more class="more" [elevated]="false" [list]="moreList"></app-more>

<app-popup [name]="'attatchment-delete-' + id">
    <app-warn title="Delete Document" description="This project document will be deleted. Click 'Continue' to proceed." (proceed)="deleteAttatchment()"></app-warn>
</app-popup>

<app-popup [name]="'attatchment-update-' + id">
    <app-attatchment-upload [model]="attatchment.model" [modelId]="attatchment.modelId" [attatchment]="attatchment" [popupId]="'attatchment-update-' + id"></app-attatchment-upload>
</app-popup>