:host {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
    max-width: var(--enclosed-500);

    .form {
        gap: var(--gap-x-big);
    }
}