<h1 class="header-3">Compliance Information</h1>

<div class="form">
    <app-profile-create-compliance-item [data]="identificationList" [model]="complainceModel.IDENTIFICATION" (changes)="identificationForm = $event"></app-profile-create-compliance-item>

    <app-profile-create-compliance-item [data]="supportList" [model]="complainceModel.ADDRESS" (changes)="addressForm = $event"></app-profile-create-compliance-item>
    
    <button 
    type="submit"
    [disabled]="(!identificationForm || identificationForm.invalid) || (!addressForm || addressForm.invalid)" 
    class="button text-1 form-control" 
    (click)="updateCompliance()">Complete</button>
</div>