<div class="home-testimonials">
    <h1 class="home-testimonials-title">Customer Testimonials</h1>
    <div class="home-testimonials-list">
        <div 
            class="home-testimonials-item elevated" 
            *ngFor="let testimonial of testimonials; index as i"
            [ngClass]="{ 'active-testimonial': i === current, 'inactive-testimonial': i !== current }">
            <img [src]="testimonial.image" alt="" class="home-testimonials-image">
            <span class="home-testimonials-details">
                <h1 class="home-testimonials-fullname">{{testimonial.fullname}}</h1>
                <p class="home-testimonials-description">{{testimonial.description}}</p>
            </span>
        </div>
    </div>
    <app-switcher class="home-testimonials-switcher" [current]="current" [totalItems]="testimonials.length" (selected)="setCurrent($event)">
    </app-switcher>
</div>