:host {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    max-width: var(--enclosed-1000);
    gap: var(--gap-big);
}
