<h1 class="page-title header-3">Update Project</h1>

<div class="container">
    <form action="" class="form" [formGroup]="form" (ngSubmit)="saveProject()">
        <app-input type="text" name="title" class="form-group" [control]="getControl('title')"></app-input>
        <app-select name="category" class="form-group" [control]="getControl('category')" [list]="categories"></app-select>
        <app-input type="text" name="tags" class="form-group" [control]="getControl('tags')"></app-input>
        <app-text-area name="description" class="form-group" [control]="getControl('description')"></app-text-area>

        <button 
            [disabled]="!updateData || form.invalid"
            class="button form-group text-1"
            type="submit">
            Save Project
        </button>
    </form>
</div>