<span class="material-symbols-outlined image" [ngClass]="{ 'new': !previewed && canPreview }" (click)="this.popupService.open('attachment-view-' + attachment._id)">{{ url ? 'draft' : '' }}</span>

<span class="name text-1">{{attachment.name}}</span>
<span class="version text-2">{{ 'V.' + version}}</span>
<app-more class="more" [elevated]="false" [list]="moreList"></app-more>

<app-popup [name]="'attachment-update-' + attachment._id" heading="Update Attachment">
    <app-attachment-upload [named]="deletable" [model]="attachment.model" [modelId]="attachment.modelId" [attachment]="attachment" [popupId]="'attachment-update-' + attachment._id" (updated)="updated.emit()"></app-attachment-upload>
</app-popup>

<app-popup [name]="'attachment-view-' + attachment._id" [style]="{ zIndex: 1 }" heading="Preview Attachment">
    <app-attachment-view [viewOnly]="viewOnly" [deletable]="deletable" [attachment]="attachment" (updated)="updated.emit()" [userId]="userId"></app-attachment-view>
</app-popup>