:host {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    gap: var(--gap-normal);
    padding: var(--gap-normal);
    overflow: hidden;
}
