<style> @import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+CU:wght@100..400&family=Playwrite+DK+Loopet:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&family=Playwrite+HR:wght@100..400&display=swap');</style>

<span class="styles">
    <h4 class="text-1 heading">Select Style</h4>
    <span class="styles-list">
        <span class="styles-list-item text-2" [ngClass]="{ selected: selectedFont === 'custom'}" (click)="setFont('custom')">Custom</span>
        <span class="styles-list-item text-2" [ngClass]="{ selected: selectedFont === item}" [style.font-family]="item" *ngFor="let item of fonts" (click)="setFont(item)">{{ this.client.firstname+this.client.lastname }}</span>
    </span>
</span>

<canvas class="canvas" id="canvas"></canvas>

<span class="controls">
    <button class="button text-1" (click)="context.clearRect(0, 0, width, height)">Reset</button>
    <button class="button text-1" (click)="getImage()">Submit</button>
</span>