:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-x-big);
    overflow-y: scroll;
}

.home-item {
    width: 100%;
}

@media only screen and (min-width: 700px){
    :host {
        gap: var(--gap-max);
    }
}