:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: -webkit-fill-available;

    .content {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-max);
    }
}

@media only screen and (min-width: 760px){
    :host {
    }
}
