:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-x-big);
    overflow-y: auto;
    overflow-x: hidden;
    width: -webkit-fill-available;
}

.home-item {
    width: 100%;
}

@media only screen and (min-width: 760px){
    :host {
        gap: var(--gap-max);
    }
}