:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .app {
        &-page {
            display: flex;
            overflow: hidden;
            height: 100%;
            width: 100%;
            z-index: var(--index-elevated);
        }
    
        &-content {
            display: flex;
            overflow: auto;
            height: 100%;
            width: 100%;
            background-color: var(--color-white);
            justify-content: center;
        }
    
        &-title {
            color: var(--color-dark);
            width: -webkit-fill-available;
        }
    }
}

@media only screen and (min-width: 760px){
    :host {
        .app {
            display: grid;
            grid-template-columns: max-content 1fr;

            &-content {
                width: -webkit-fill-available;
                padding: 0% 5%;
            }
        }
    }
}

@media only screen and (min-width: 760px){
    :host {
        .app {
            &-content {
                padding: 0% 10%;
            }
        }
    }
}