<span class="header-3">Wallet</span>

<span class="balance">
    <span class="text-1">Nigerian Naira</span>
    <span class="amount header-3">{{balance | currency:'₦'}}</span>
</span>

<span class="control">
    <app-button text="Deposit" (click)="popupService.open('wallet-credit')" [style]="{ justifyContent: 'center !important' }"></app-button>
    <app-button text="Withdraw" (click)="popupService.open('wallet-debit')" bgColor="var(--color-secondary)"></app-button>
</span>

<app-popup [name]="'wallet-credit'">
    <app-wallet-credit [userId]="userId" [balance]="balance"></app-wallet-credit>
</app-popup>

<app-popup [name]="'wallet-debit'">
    <app-wallet-debit [userId]="userId" [balance]="balance"></app-wallet-debit>
</app-popup>