<div class="header">
    <h1 class="text-1 title">Files</h1>
    <span class="icons">
        <span class="material-symbols-outlined" (click)="popupService.open(model + '-attachment-upload-' + modelId)" >add</span>
    </span>
</div>

<div class="list" *ngIf="attachments.length">
    <app-attachment-item *ngFor="let item of attachments" [id]="item._id"></app-attachment-item>
</div>

<app-empty *ngIf="!attachments.length" [name]="model + 'attachments'"></app-empty>

<app-popup [name]="model + '-attachment-upload-' + modelId" title="Upload Attatchment">
    <app-attachment-upload [model]="model" [modelId]="modelId" [popupId]="model + '-attachment-upload-' + modelId"></app-attachment-upload>
</app-popup>