<div class="summery" *ngIf="profile">

    <div class="basic">
        <span class="image">
            <img [src]="profile.image || '../../../../assets/images/db.png'" alt="">
            <span class="material-symbols-outlined verification-badge" *ngIf="profile.verified">
                {{ profile.business ? 'handshake' : 'done' }}
            </span>
        </span>
        <div class="names">
            <h1 class="fullname header-2">{{ (profile.firstname || '') + ' ' + (profile.lastname || '') }}</h1>
            <h5 class="username text-1">@{{ profile.username }}</h5>
        </div>
    </div>
</div>

<div class="details" [formGroup]="form">
    <div class="details-item">
        <h2 class="text-1 details-title">Bio</h2>
        <app-keyvalue name="firstname" [edit]="edit" [control]="getControl('firstname')"></app-keyvalue>

        <app-keyvalue name="lastname" [edit]="edit" [control]="getControl('lastname')"></app-keyvalue>

        <app-keyvalue name="username" [edit]="edit" [control]="getControl('username')"></app-keyvalue>
    </div>

    <div class="details-item">
        <h2 class="text-1 details-title">Address</h2>
        <app-keyvalue name="country" [edit]="edit" [control]="getControl('country')" [list]="address.countries"></app-keyvalue>

        <app-keyvalue name="state" [edit]="edit" [control]="getControl('state')" [list]="address.states"></app-keyvalue>

        <app-keyvalue name="city" [edit]="edit" [control]="getControl('city')" [list]="address.cities"></app-keyvalue>

        <app-keyvalue name="street" [edit]="edit" [control]="getControl('street')"></app-keyvalue>
    </div>

    <div class="details-item">
        <h2 class="text-1 details-title">Contact</h2>
        <app-keyvalue name="email" [edit]="edit" type="email" [control]="getControl('email')"></app-keyvalue>

        <app-keyvalue name="phone" [edit]="edit" [control]="getControl('phone')"></app-keyvalue>
    </div>

    <div class="details-item">
        <h2 class="text-1 details-title">Extras</h2>
        <app-keyvalue name="gender" [edit]="edit" [control]="getControl('gender')" [list]="['Male', 'Female', 'Other']"></app-keyvalue>

        <app-keyvalue name="dob" [edit]="edit" [control]="getControl('dob')" type="date"></app-keyvalue>
    </div>
</div>

<div class="controls">
    <button id="edit" class="button text-1" *ngIf="!edit" (click)="edit = true">Edit</button>
    <button id="cancel" class="button text-1" *ngIf="edit" (click)="edit = false">Cancel</button>
    <button id="update" class="button text-1" *ngIf="edit" (click)="updateClient()" [disabled]="!updateData || form.invalid">Update</button>
</div>