:host {
    display: flex;
    padding: var(--gap-normal);
    flex-direction: column;
    align-items: center;
    gap: var(--gap-normal);
    width: calc(100% - calc(var(--gap-normal) * 2));
    height: calc(100% - calc(var(--gap-normal) * 2));
    overflow: auto;

    .summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-normal);
        align-self: stretch;
    }

    .basic {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-small);
    }

    .name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--gap-small);
    }

    .fullname {
        color: var(--color-dark);
        text-wrap: nowrap;
    }

    .badge {
        border-radius: 50%;
        box-shadow: var(--shadow-low);        
        font-size: var(--gap-normal);
    }

    .business {
        background-color: var(--color-secondary) !important;
        outline: 1px dashed var(--color-secondary) !important;
    }

    .details {
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-start;
        gap: var(--gap-big);
        width: 100%;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--gap-normal);
            width: calc(100% - calc(var(--gap-normal))*2);
            height: calc(100% - calc(var(--gap-normal))*2);
            padding: var(--gap-normal);
            box-shadow: var(--shadow-high);
            border-radius: var(--gap-normal);
        }

        &-title {
            color: var(--color-dark);
            font-weight: bold;
        }
    }
}

.controls {
    display: flex;
    justify-content: space-evenly;
    gap: var(--gap-normal);
    padding: var(--gap-normal);
}

@media only screen and (min-width: 760px){
    :host {
        gap: var(--gap-max);
        
        .details {
            grid-template-columns: repeat(2, 1fr);
            gap: var(--gap-x-big);
        }

        .controls {
            padding: var(--gap-big);
        }
    }
}