<div class="summery">

    <div class="basic">
        <span class="image">
            <img [src]="profile?.image || '../../../../assets/images/db.png'" alt="">
            <span class="material-symbols-rounded verification-badge" *ngIf="profile?.verified">
                {{ profile?.business ? 'handshake' : 'done' }}
            </span>
        </span>
        <div class="names">
            <h1 class="fullname header-2">{{ (profile?.firstname || '') + ' ' + (profile?.lastname || '') }}</h1>
            <h5 class="username text-1">@{{ profile?.username }}</h5>
        </div>
    </div>
</div>

<div class="details" [formGroup]="form">
    <div class="details-item">
        <h2 class="text-1 details-title">Bio</h2>
        <app-keyvalue name="firstname" [edit]="edit" formControlName="firstname" [invalid]="isValid('firstname')"></app-keyvalue>

        <app-keyvalue name="lastname" [edit]="edit" formControlName="lastname" [invalid]="isValid('lastname')"></app-keyvalue>

        <app-keyvalue name="username" [edit]="edit" formControlName="username" [invalid]="isValid('username')"></app-keyvalue>
    </div>

    <div class="details-item">
        <h2 class="text-1 details-title">Address</h2>
        <app-keyvalue name="country" [edit]="edit" formControlName="country" [invalid]="isValid('country')" [list]="address.countries"></app-keyvalue>

        <app-keyvalue name="state" [edit]="edit" formControlName="state" [invalid]="isValid('state')" [list]="address.states"></app-keyvalue>

        <app-keyvalue name="city" [edit]="edit" formControlName="city" [invalid]="isValid('city')" [list]="address.cities"></app-keyvalue>

        <app-keyvalue name="street" [edit]="edit" formControlName="street" [invalid]="isValid('street')"></app-keyvalue>
    </div>

    <div class="details-item">
        <h2 class="text-1 details-title">Contact</h2>
        <app-keyvalue name="email" [edit]="edit" type="email" formControlName="email" [invalid]="isValid('email')"></app-keyvalue>

        <app-keyvalue name="phone" [edit]="edit" formControlName="phone" [invalid]="isValid('phone')"></app-keyvalue>
    </div>

    <div class="details-item">
        <h2 class="text-1 details-title">Extras</h2>
        <app-keyvalue name="gender" [edit]="edit" formControlName="gender" [invalid]="isValid('gender')" [list]="['Male', 'Female', 'Other']"></app-keyvalue>

        <app-keyvalue name="dob" [edit]="edit" formControlName="dob" [invalid]="isValid('dob')" type="date"></app-keyvalue>
    </div>
</div>

<div class="update-controls">
    <button id="cancel" class="button text-1" *ngIf="edit" routerLink="/profiles/profile/info">Cancel</button>
    <button id="update" class="button text-1" *ngIf="edit" (click)="updateClient()" [disabled]="!updateData || form.invalid">Update</button>
</div>