<div class="header">
    <h1 class="header-title header-3">Revision</h1>

    <span class="header-controls">
        <app-icon-counter *ngIf="revision" [icon]="hideFiles ? 'keyboard_arrow_down' : 'keyboard_arrow_up'" (click)="hideFiles = !hideFiles " [flat]="true"></app-icon-counter>
        <button class="button" (click)="popupService.open('submit-revision-' + revision._id)">Submit Review</button>
    </span>
</div>

<div class="revision">
    <div class="files">
        <h1 class="text-1 title">Files</h1>
    
        <span class="files-list">
            <span class="files-list-item" *ngFor="let item of attachments" (click)="previewAttachmentId = item._id">
                <span class="material-symbols-outlined icon">draft</span>
                <span class="text-1">{{item.name}}</span>
            </span>
        </span>
    </div>
    
    <div class="preview">
        <h1 class="text-1 title">Preview</h1>

        <span class="preview-list">
            <app-attachment-view (commented)="addComment($event)" class="preview-list-item" *ngFor="let item of attachments" [attachment]="item" [revision]="true" [hideFile]="hideFiles"></app-attachment-view>
        </span>
    </div>

    <app-popup [name]="'submit-revision-' + revision._id" heading="Submit Revision">
        {{revision.comments.length}}
        <form action="" class="form" [formGroup]="form">
            <app-radio-buttons 
                name="decision" 
                class="form-group" 
                [label]="true" 
                [control]="getControl(this.form, 'decision')"
                [list]="decisionChoises"
                note="Please make a decision.">
            </app-radio-buttons>

            <span class="form-control" *ngIf="form.valid">
                <h1 class="text-1">Revision comment</h1>
                <app-comment-add (commented)="submitRevision($event)" [model]="commentType.REVISION" [modelId]="revision._id"></app-comment-add>
            </span>
        </form>
    </app-popup>
</div>