:host {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);

    .title {
        display: flex;
        flex-direction: column;
        gap: var(--gap-x-small);
    }
}