<span class="title">
    <h4 class="text-1" style="font-weight: bold;">{{model}} Verification</h4>
    <h5 class="text-2">(Upload any of these documents)</h5>
</span>

<app-select name="Type" [list]="list" [control]="getControl(form, 'title')"></app-select>

<app-file-input name="Document" [label]="false" [control]="getControl(form, 'document')"></app-file-input>

<app-text-input [required]="expiry" name="Expiry Date" type="date" *ngIf="expiry" [control]="getControl(form, 'expiry')"></app-text-input>
