:host {
    display: flex;
    width: calc(100% - var(--gap-small));
    padding: var(--gap-small);
    flex-direction: column;
    align-items: center;
    gap: var(--gap-x-big);

    .newsletter {
        display: flex;
        padding: var(--gap-small) var(--gap-normal);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-normal);
        align-self: stretch;
        background: var(--color-light);

        &-header {
            color: var(--color-dark);
        }

        &-note {
            color: var(--color-dark);
        }

        &-form {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-self: stretch;
        }

        &-email{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.3125rem;
            align-self: stretch;
            border: 1px solid var(--color-primary);
            height: 40px;
        }

        &-subscribe{
            display: flex;
            padding: var(--gap-small) var(--gap-x-big);
            justify-content: center;
            align-items: center;
            gap: var(--gap-normal);
            align-self: stretch;
            background: var(--color-primary);
            border: none;
            color: var(--color-dark);
        }

    }

    .links {
        display: flex;
        padding: var(--gap-small);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-normal);

        .app-name {
            color: var(--color-dark);
        }

        &-list {
            display: flex;
            align-items: flex-start;
            gap: var(--gap-normal);
        }

        &-item {
            color: var(--color-dark);
            text-decoration: none;
            text-align: center;
        }
    }

    .copyright {
        color: var(--color-dark);
    }
}

@media only screen and (min-width: 700px){
    :host {
        gap: var(--gap-max);
        padding: var(--gap-x-big) var(--gap-big);
        width: calc(100% - var(--gap-big));

        .newsletter {
            padding: var(--gap-normal);
    
            &-form {
                max-width: 43.875rem;
            }
        }
    }
}