:host {
    display: flex;
    flex-direction: row;
    gap: var(--space-big);
    align-items: center;
    justify-content: space-around;
    padding: var(--space-normal);
    width: calc(100% - var(--space-normal));
    border-top: 1px solid rgba($color: black, $alpha: .1);

    .brand {
      display: none;
      flex-direction: row;
      align-items: center;
      gap: var(--space-small);

      .logo {
        width: var(--space-big);
        height: var(--space-big);
      }

      .name {
        display: flex;
      }
    }

    .links {
        display: flex;
        align-items: flex-start;
        gap: var(--space-normal);

        &-item {
            color: var(--color-dark);
            text-decoration: none;
            text-align: center;
        }
    }

    .copyright {
        color: var(--color-dark);
    }
}

@media only screen and (min-width: 760px){
    :host {
        gap: var(--space-max);
        padding: var(--space-x-big) var(--space-big);
        width: calc(100% - var(--space-big));

        .newsletter {
            padding: var(--space-normal);

            &-form {
                max-width: 43.875rem;
            }
        }

        .brand {
          display: flex;
        }
    }
}
