<img class="image" [src]="client.image || '../../../../assets/images/db.png'" alt="" srcset="">

<form action="" [formGroup]="form" (ngSubmit)="send()" class="form">
    <app-input [label]="false" type="text" name="tags" class="form-group" [control]="getControl('statement')"></app-input>
</form>

<span class="controls">
    <span class="material-symbols-outlined controls-icon" (click)="send()">send</span>
    <span class="material-symbols-outlined controls-icon"  (click)="file.click()">attach_file</span>
    <input class="controls-file" type="file" #file accept="image/png, image/jpeg" (change)="setAttachment($event)">
    <img class="controls-preview" *ngIf="form.get('attachment')?.value" [src]="form.get('attachment')?.value" alt="">
</span>