:host {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: var(--gap-small);
    align-items: center;
    gap: var(--gap-normal);
    box-shadow: var(--shadow-medium);
    width: -webkit-fill-available;
    
    .image {
        width: 40px;
        height: 40px;
    }

    .form {
        width: 100%;
    }

    .controls {
        display: flex;
        gap: var(--gap-x-small);
        align-items: center;

        &-file {
            display: none;
        }

        &-preview {
            width: 10px;
            height: 10px;
        }

        &-icon {
            cursor: pointer;
            color: var(--color-primary);
        }
    }
}