<div class="header">
    <span class="image">
        <img [src]="contract.image || '../../../../assets/images/db.png'" alt="" srcset="">
    </span>

    <span class="text-2 tag">Contract</span>

    <span class="header-3 title">{{contract.title}}</span>
</div>

<div class="section details">
    <h1 class="text-1 section-title">Details</h1>
    <div class="details-list section-container">
        <app-keyvalue name="duration" [value]="duration" unit="Days"></app-keyvalue>
        <app-keyvalue name="price" [value]="price" unit="NGN"></app-keyvalue>
        <app-keyvalue name="status" [value]="contract.status"></app-keyvalue>
        <app-keyvalue name="created at" [value]="contract.createdAt" [type]="'date'"></app-keyvalue>
    </div>
</div>

<div class="section deliverables">
    <div class="section-title">
        <h1 class="text-1 section-title-text">Deliverables</h1>
        <span class="section-icons">
            <span class="material-symbols-outlined" [routerLink]="'/contracts/' + id + '/deliverables' ">arrow_outward</span>
        </span>
    </div>

    <div class="deliverables-list section-container" *ngIf="deliverables.length">
        <app-contract-deliverable-item *ngFor="let item of deliverables" [deliverable]="item" [routerLink]="'/contracts/' + item.contractId + '/deliverables/' + item._id"></app-contract-deliverable-item>
    </div>
    
    <app-empty *ngIf="!deliverables.length" name="contract deliverable"></app-empty>
</div>

<div class="section description">
    <h1 class="text-1 section-title">Description</h1>
    <pre class="description-text text-1 section-container">{{contract.description}}</pre>
</div>

<div class="controls">
    <span class="button" *ngIf="auth.id === this.contract.contractorId && contract.status === contractStatus.REQUESTED" (click)="approveContract()">
        <span class="material-symbols-outlined">check</span>
        <span class="control-text">Approve</span>
    </span>
    
    <span class="button" *ngIf="auth.id === this.contract.clientId && contract.status === contractStatus.APPROVED" (click)="initiateContract()">
        <span class="material-symbols-outlined">signature</span>
        <span class="control-text">Initiate</span>
    </span>
    
    <span class="button" *ngIf="[contractStatus.APPROVED, contractStatus.REQUESTED].includes(contract.status)" (click)="terminateContract()">
        <span class="material-symbols-outlined">close</span>
        <span class="control-text">Terminate</span>
    </span>    
</div>


<app-more class="more" [list]="moreList" [elevated]="true"></app-more>

<span class="popups">
    <app-popup [name]="'contract-update-' + id" heading="Contract">
        <!-- <app-contract-update></app-contract-update> -->
    </app-popup>
    
    <app-popup [name]="'contract-comment-' + id" heading="Comments">
        <app-comment-list [model]="commentModel" [modelId]="id"></app-comment-list>
    </app-popup>
    
    <app-popup [name]="'contract-share-' + id" heading="Contract">
        <!-- <app-share 
            *ngIf="contract.privacy" 
            [model]="shareModel" 
            [modelId]="contract._id" 
            [privacy]="contract.privacy.type" 
            [access]="contract.privacy.access" 
            [link]="'contract/'+contract._id" 
            [ownerId]="contract.userId" 
            (changed)="updatePrivacy($event)"
            (shareTo)="updateSharedList($event)"></app-share> -->
    </app-popup>
</span>