<div class="password">
    <span class="password-info">
        <label for="otp" class="password-label text-1">OTP</label>
        <h1 *ngIf="running" class="password-time text-2">Resend in {{timeLeft}}</h1>
    </span>
    <span class="password-control">
        <input type="text" name="password" class="form-control password-data text-1" [(ngModel)]="value" (input)="onChange(value)" (blur)="onTouched()" [ngClass]="{ invalid }">
        
        <button [disabled]="running || !clientEmail" class="password-button text-1" (click)="request()" type="button">Get OTP</button>
    </span>
</div>