<div class="form-control">
    <span class="info">
        <label for="otp" class="label text-1">Password</label>
        <h1 *ngIf="running" class="time text-2">Resend in {{timeLeft}}</h1>
    </span>
    
    <span class="container">
        <input type="password" name="password" class="form-control-data text-1" [ngClass]="{ invalid: (control.invalid && control.touched) }" [formControl]="control">
        <app-button [disabled]="running || !email" text="Get OTP" (click)="request()"></app-button>
    </span>
</div>
<app-form-errors [control]="control" [name]="name"></app-form-errors>