<span class="form-control" [ngClass]="{ invalid: (control.invalid && control.touched) }">
    <span class="info" *ngIf="label">
        <label [for]="name" class="form-control-label text-1">{{name}}</label>
        <h1 *ngIf="measure" class="form-control-unit text-2 unit">{{measure}}</h1>
    </span>
    
    <span class="choices form-control-data" *ngFor="let item of keys; index as i">
        <input 
            type="radio"
            [name]="name" 
            [id]="item"
            class="text-1"
            (click)="control.setValue(item)">
        <label [for]="item">{{values[i]}}</label>
    </span>
    
    <h1 *ngIf="note" class="form-control-note text-3">{{note}}</h1>
</span>
<app-form-errors [control]="control" [name]="name"></app-form-errors>
