.frame {
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: var(--gap-small);
    box-shadow: var(--shadow-low);
    border: none;
}