<span class="avater-small">
    <img *ngIf="client.image" [src]="client.image" alt="" style="width: auto;" class="avater-small-image">
    <span *ngIf="!client.image" class="material-symbols-outlined avater-small-icon">person</span>
</span>

<span class="header">
    <span class="material-symbols-outlined status-icon">{{statusIcon}}</span>
    <span class="text-1">{{client.username}}</span>
    <span class="text-2" >{{statusMessage}}</span>
    <span class="text-2">{{revision.createdAt | date}}</span>
</span>

<div *ngIf="revision.commentId" class="comment">
    <app-revision-comment [commentId]="revision.commentId" (commented)="commented.emit($event)"></app-revision-comment>

    <span *ngIf="revision.comments.length" class="comment-list">
        <app-revision-comment *ngFor="let item of revision.comments" [commentId]="item" (commented)="commented.emit($event)"></app-revision-comment>
    </span>
</div>

