:host {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "avater-small header"
                        ". comment";
    width: -webkit-fill-available;
    gap: var(--gap-small);
    padding: var(--gap-small);
    box-shadow: var(--shadow-low);
    border-radius: var(--gap-small);

    .avater-small {
        grid-area: avater-small;
    }

    .header {
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(2, max-content) 1fr repeat(2, max-content);
        width: -webkit-fill-available;
        align-items: center;
        gap: var(--gap-small);

        .status-icon {
            background-color: var(--color-secondary);
            color: var(--color-light);
            padding: var(--gap-x-small);
            border-radius: 50%;
            font-size: var(--gap-normal);
        }
    }

    .comment {
        grid-area: comment;
        display: flex;
        flex-direction: column;

        &-list {
            display: flex;
            flex-direction: column;
            gap: var(--gap-small);
            border-left: 1px solid var(--color-light);
            padding: var(--gap-normal);
        }
    }
}

@media only screen and (min-width: 760px){
    
}