:host {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "avater-small header"
                        ". content";
    width: -webkit-fill-available;
    gap: var(--gap-small);
    padding: var(--gap-small);

    .avater-small {
        grid-area: avater-small;
    }

    .header {
        grid-area: header;
        display: grid;
        grid-template-columns: max-content max-content 1fr max-content;
        width: -webkit-fill-available;
        align-items: center;
        gap: var(--gap-small);

        .status-icon {
            background-color: var(--color-secondary);
            color: var(--color-light);
            padding: var(--gap-x-small);
            border-radius: 50%;
            font-size: var(--gap-normal);
        }
    }

    .content {
        grid-area: content;
        // display: flex;
        // flex-direction: column;
        // width: -webkit-fill-available;
        // gap: var(--gap-small);
        // align-items: center;
    }
}

@media only screen and (min-width: 760px){
    
}