<span *ngFor="let toast of toasts | async; let i=index" class="toast" 
    [ngClass]="{ 
        'error': toast.type === enum.ERROR, 
        'warning': toast.type === enum.WAIT, 
        'active-toast': true
    }" 
    [id]="toast.id">
    <h4 class="toast-title text-1">{{toast.type}}</h4>
    <p class="toast-title text-2">{{toast.title}}</p>
    <p *ngIf="toast.description" class="toast-description text-3">{{toast.description}}</p>
    <span class="material-symbols-outlined toast-close" (click)="closeToast(toast.id)">close</span>
    <span class="control" *ngIf="toast.type === enum.WAIT">
        <span class="control-item text-2 button" (click)="select(toast.id, item)" *ngFor="let item of toast.options">{{item}}</span>
    </span>
</span>