:host {
    display: flex;
    padding: var(--space-big);
    flex-direction: column;
    align-items: center;
    gap: var(--space-x-big);
    align-self: stretch;
    background: var(--color-light);

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-normal);

      .description {
        text-align: center;
        color: var(--color-accent);
      }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: var(--space-x-big);
    }

    .item {
        display: flex;
        align-items: flex-start;
        padding: var(--space-small);
        gap: var(--space-x-small, 1rem);
        box-shadow: var(--shadow-low);

        .icon {
          font-size: var(--space-big);
          border-radius: 100%;
          color: var(--color-secondary);
          padding: var(--space-normal);
          background-color: rgba($color: #5F3DC4, $alpha: .1);
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: var(--space-small);
            flex: 1 0 0;

            .name {
              color: var(--color-dark);
              text-align: center;
          }

          .description {
              color: var(--color-dark);
              text-align: left;
          }
        }
    }
}



@media only screen and (min-width: 760px){
    :host {
        padding: var(--space-x-big);
        gap: var(--space-x-big);
        align-self: stretch;

        .list {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            width: calc(80% - var(--space-x-big));

            .item {
                padding: var(--space-normal);
                gap: var(--space-normal);
            }
        }
    }
}

@media only screen and (min-width: 1600px){
    :host {
        gap: var(--space-big);
        align-self: stretch;

        .list {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            width: 80%;
        }
    }
}
