:host {
    display: flex;
    padding: var(--gap-x-big) 5%;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-x-big);
    align-self: stretch;
    background: var(--color-light);

    .list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: var(--gap-x-big);
    }

    .item {
        display: flex;
        align-items: center;
        padding: var(--gap-small);
        gap: var(--XSmall-Gap, 1rem);
    }

    .reversed {
        flex-direction: row-reverse;
        .details {
            align-items: flex-start;
        }

        .description {
            text-align: left !important;
        }
    }

    .image {
        width: 11.875rem;
        height: 17.5rem;
        border-radius: var(--gap-small);
        justify-self: center;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: var(--gap-big);
        flex: 1 0 0;
    }

    .name {
        color: var(--color-dark);
        text-align: center;
    }

    .description {
        color: var(--color-dark);
        text-align: right;
    }
}

@media only screen and (min-width: 700px){
    :host {
        padding: var(--gap-x-big) 15%;
        gap: var(--gap-x-big);
    
        .list {
            gap: var(--gap-x-big);
        }
    
        .item {
            gap: var(--gap-max);
        }
    
        .image {
            width: 25rem;
            height: 31.25rem;
        }
    
        .details {
            padding: var(--gap-normal);
            gap: var(--gap-x-big);
        }
    }
}