<div class="container">
    <form action="" class="form" [formGroup]="form" (ngSubmit)="uploadAttachment()">
        <app-file-input [multiple]="true" name="data" class="form-group" [control]="getControl('data')" [multiple]="multiple"></app-file-input>
        <app-input *ngIf="named" type="text" name="name" class="form-group" [control]="getControl('name')"></app-input>
        
        <app-button [disabled]="form.invalid" class="form-group" text="Create Project" (click)="uploadAttachment()"></app-button>
    </form>
</div>