<span class="info" *ngIf="label">
    <label [for]="name" class="label text-1">{{name}}</label>
    <h1 *ngIf="measure" class="text-2 unit">{{measure}}</h1>
</span>

<span class="container form-control" (click)="control.markAsTouched()">
    <span class="item" *ngFor="let item of items" [ngClass]="{ invalid: !validateItem(item) }">
        <span class="item-value text-2">{{item}}</span>
        <span class="material-symbols-outlined item-close" (click)="removeItem(item)" >close</span>
    </span>

    <input class="text-1 data" (keyup)="keyUp($event, input)" #input [placeholder]="placeholder">
</span>
<app-form-errors [control]="control" [name]="name"></app-form-errors>
