:host {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: var(--space-normal);
    padding: var(--space-small) var(--space-normal);
    border-radius: var(--space-small);
    width: -webkit-fill-available;
    cursor: pointer;

    &:hover {
        transition-duration: .5s;
        box-shadow: var(--shadow-high);
    }

    .icon {
        font-size: var(--space-big);
        color: inherit;
    }

    .text {
        text-align: left;
        width: -webkit-fill-available;
        text-wrap: nowrap;

        &-full {
            text-align: center !important;
        }
    }
}

@media only screen and (min-width: 760px){
    :host {
        padding: var(--space-small);
    }
}
