<div class="header">
    <span class="image">
        <img [src]="project.image || '../../../../assets/images/db.png'" alt="" srcset="">
    </span>

    <span class="text-2 tag">Project</span>

    <span class="header-3 title">{{project.title}}</span>

    <div class="controls">
        <span class="stats">
            <app-icon-counter [active]="liked" icon="thumb_up" [value]="project.likes.length" (click)="likeToggle()"></app-icon-counter>
            <app-icon-counter [active]="bookmarked" icon="bookmark" [value]="project.bookmarks.length" (click)="bookmarkToggle()"></app-icon-counter>
            <app-icon-counter icon="share" [value]="0" (click)="popupService.open('project-share-' + id);"></app-icon-counter>
            <app-icon-counter icon="comment" [value]="commentsCount" (click)="popupService.open('project-comment-' + id);"></app-icon-counter>
        </span>
        <app-more class="more" [list]="moreList"></app-more>
    </div>
</div>

<div class="section details">
    <h1 class="text-1 section-title">Details</h1>
    <div class="details-list section-container">
        <app-keyvalue name="category" [value]="project.category"></app-keyvalue>
        <app-keyvalue name="duration" [value]="duration" unit="Days"></app-keyvalue>
        <app-keyvalue name="price" [value]="price" unit="NGN"></app-keyvalue>
        <app-keyvalue name="status" [value]="project.status"></app-keyvalue>
        <app-keyvalue name="created at" [value]="project.createdAt" [type]="'date'"></app-keyvalue>
    </div>
</div>

<div class="section deliverables">
    <div class="section-title">
        <h1 class="text-1 section-title-text">Deliverables</h1>
        <span class="section-icons">
            <span class="material-symbols-outlined" [routerLink]="'/projects/' + id + '/deliverables/create' ">add</span>
            <span class="material-symbols-outlined" [routerLink]="'/projects/' + id + '/deliverables' ">arrow_outward</span>
        </span>
    </div>

    <div class="deliverables-list section-container" *ngIf="deliverables.length">
        <app-project-deliverable-item *ngFor="let item of deliverables" [deliverable]="item" [routerLink]="'/projects/' + item.projectId + '/deliverables/' + item._id"></app-project-deliverable-item>
    </div>
    
    <app-empty *ngIf="!deliverables.length" name="project deliverable"></app-empty>
</div>

<div class="section description">
    <h1 class="text-1 section-title">Description</h1>
    <pre class="description-text text-1 section-container">{{project.description}}</pre>
</div>

<button class="button text-1">Initiate Contract</button>

<app-popup [name]="'project-update-' + id">
    <app-project-update></app-project-update>
</app-popup>

<app-popup [name]="'project-delete-' + id">
    <app-warn title="Delete Project" description="This project will be deleted. Click 'Continue' to proceed." (proceed)="deleteProject()"></app-warn>
</app-popup>

<app-popup [name]="'project-activate-' + id">
    <app-warn title="Activate Project" description="This project will be activated. Click 'Continue' to proceed." (proceed)="activate()"></app-warn>
</app-popup>

<app-popup [name]="'project-deactivate-' + id">
    <app-warn title="De-Activate Project" description="This project will be deactivated. Click 'Continue' to proceed." (proceed)="deactivate()"></app-warn>
</app-popup>

<app-popup [name]="'project-comment-' + id">
    <app-comment-list [model]="commentModel" [modelId]="id"></app-comment-list>
</app-popup>

<app-popup [name]="'project-share-' + id">
    <app-share></app-share>
</app-popup>