<div class="header">
    <span class="image">
        <img [src]="project.image || '../../../../assets/images/db.png'" alt="" srcset="">
    </span>

    <span class="text-2 tag">Project</span>

    <span class="header-3 title">{{project.title}}</span>

    <div class="controls">
        <span class="stats">
            <app-icon-counter [active]="liked" icon="thumb_up" [value]="project.likes.length" (click)="likeToggle()"></app-icon-counter>
            <app-icon-counter [active]="bookmarked" icon="bookmark" [value]="project.bookmarks.length" (click)="bookmarkToggle()"></app-icon-counter>
            <app-icon-counter icon="share" [value]="project.shares" (click)="popupService.open('project-share-' + id);"></app-icon-counter>
            <app-icon-counter icon="comment" [value]="commentsCount" (click)="popupService.open('project-comment-' + id);"></app-icon-counter>
        </span>
        <app-more class="more" [list]="moreList"></app-more>
    </div>
</div>

<div class="section details">
    <h1 class="text-1 section-title">Details</h1>
    <div class="details-list section-container">
        <app-keyvalue name="category" [value]="project.category"></app-keyvalue>
        <app-keyvalue name="duration" [value]="duration" unit="Days"></app-keyvalue>
        <app-keyvalue name="price" [value]="price" unit="NGN"></app-keyvalue>
        <app-keyvalue name="status" [value]="project.status"></app-keyvalue>
        <app-keyvalue name="created at" [value]="project.createdAt" [type]="'date'"></app-keyvalue>
    </div>
</div>

<div class="section deliverables">
    <div class="section-title">
        <h1 class="text-1 section-title-text">Deliverables</h1>
        <span class="section-icons">
            <span class="material-symbols-outlined" [routerLink]="'/projects/' + id + '/deliverables/create' " *ngIf="auth.id === project.userId && project.status === projectStatus.DRAFT">
                add
            </span>
            <span class="material-symbols-outlined" [routerLink]="'/projects/' + id + '/deliverables' ">arrow_outward</span>
            <span class="material-symbols-outlined" *ngIf="auth.id !== project.userId && project.status === projectStatus.PUBLISHED" (click)="toggleDeliverableList(selectedDeliverables.length !== deliverables.length)">
                {{ selectedDeliverables.length === deliverables.length ? 'radio_button_checked' : 'radio_button_unchecked' }}
            </span>
        </span>
    </div>

    <div class="deliverables-list section-container" *ngIf="deliverables.length">
        <span class="deliverables-list-item" *ngFor="let item of deliverables">
            <app-project-deliverable-item [deliverable]="item" [routerLink]="'/projects/' + item.projectId + '/deliverables/' + item._id"></app-project-deliverable-item>
            <span class="material-symbols-outlined clickable" *ngIf="auth.id !== project.userId && project.status === projectStatus.PUBLISHED" (click)="toggleDeliverable(item._id)">
                {{ selectedDeliverables.includes(item._id) ? 'radio_button_checked' : 'radio_button_unchecked' }}
            </span>
        </span>
    </div>
    
    <app-empty *ngIf="!deliverables.length" name="project deliverable"></app-empty>
</div>

<div class="section description">
    <h1 class="text-1 section-title">Description</h1>
    <pre class="description-text text-1 section-container">{{project.description}}</pre>
</div>

<button 
    [disabled]="!selectedDeliverables.length"
    class="button text-1" 
    (click)="requestContract()">
    Request Contract
</button>

<!-- *ngIf="auth.id !== project.userId && project.status === projectStatus.PUBLISHED"  -->

<span class="popups">
    <app-popup [name]="'project-update-' + id" heading="Project">
        <app-project-update></app-project-update>
    </app-popup>
    
    <app-popup [name]="'project-comment-' + id" heading="Comments">
        <app-comment-list [model]="commentModel" [modelId]="id"></app-comment-list>
    </app-popup>
    
    <app-popup [name]="'project-share-' + id" heading="Project">
        <app-share 
            *ngIf="project.privacy" 
            [model]="shareModel" 
            [modelId]="project._id" 
            [privacy]="project.privacy.type" 
            [access]="project.privacy.access" 
            [link]="'project/'+project._id" 
            [ownerId]="project.userId" 
            (changed)="updatePrivacy($event)"
            (shareTo)="updateSharedList($event)"></app-share>
    </app-popup>
</span>