<div class="page">
    <div class="client-register elevated">
        <h1 class="page-title header-3">Sign Up!</h1>

    <div class="container">
        <form class="form">
            <app-input type="email" name="Email" class="form-group"></app-input>
            <app-input type="phone" name="Phone" class="form-group"></app-input>
            <app-input type="text" name="Username" class="form-group"></app-input>

            <app-button text="Register" background="var(--color-primary)" borderColor="" textColor="var(--color-light-variant)" class="form-group" ></app-button>
        </form>

        <app-alt-auth></app-alt-auth>
        
        <span class="login-option text-2">
            Already have an account? <a [routerLink]="'/auth'">Login</a>
        </span>
    </div>
    </div>
</div>