<div class="page">
    <div class="client-register elevated">
        <h1 class="page-title header-3">Sign Up!</h1>

    <div class="container">
        <form action="" class="form" [formGroup]="form" (ngSubmit)="submit()">
            <app-input type="email" name="Email" class="form-group" formControlName="email"></app-input>
            <app-input type="phone" name="Phone" class="form-group" formControlName="phone"></app-input>
            <app-input type="text" name="Username" class="form-group" formControlName="username"></app-input>

            <button 
                [disabled]="form.invalid"
                class="button form-group text-1"
                [ngClass]="{ elevated: false }"
                type="submit">
                Register
            </button>
        </form>

        <app-alt-auth></app-alt-auth>
        
        <span class="login-option text-2">
            Already have an account? <a [routerLink]="'/auth'">Login</a>
        </span>
    </div>
    </div>
</div>