<div class="page">
    <div class="client-register elevated">
        <h1 class="page-title header-3">Sign Up!</h1>

    <div class="container">
        <form action="" class="form" [formGroup]="form" (ngSubmit)="register()">
            <app-input type="email" name="email" class="form-group" formControlName="email" [invalid]="isValid('email')"></app-input>
            <app-input type="phone" name="phone" class="form-group" formControlName="phone" [invalid]="isValid('phone')"></app-input>
            <app-input type="text" name="username" class="form-group" formControlName="username" [invalid]="isValid('username')"></app-input>
            <!-- <input type="text" formControlName="username"> -->

            <button 
                [disabled]="form.invalid"
                class="button form-group text-1"
                type="submit">
                Register
            </button>
        </form>

        <app-alt-auth></app-alt-auth>
        
        <span class="login-option text-2">
            Already have an account? <a [routerLink]="'/auth'">Login</a>
        </span>
    </div>
    </div>
</div>