<div class="header">
    <h1 class="header-title header-3">Contract Deliverables</h1>

    <span class="header-controls">
        <span class="material-symbols-outlined header-controls-icon">filter_alt</span>
    </span>
</div>

<div class="deliverables" *ngIf="deliverables.length">
    <app-table-header class="table-header" [list]="['', 'title', 'duration', 'price']"></app-table-header>
    <div class="deliverables-list">
        <!-- <app-revision-item *ngFor="let item of deliverables" [deliverable]="item" [routerLink]="'/contracts/' + item.contractId + '/deliverables/' + item._id"></app-revision-item> -->
    </div>
</div>

<app-empty *ngIf="!deliverables.length" name="contract deliverable"></app-empty>