:host {
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    max-width: var(--enclosed-1000);
    gap: var(--gap-normal);
    padding: var(--gap-normal);
    overflow: hidden;
}
