.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-normal);
    height: 100vh;
    position: relative;
}

.slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-x-big);
    width: 100%;
    height: calc(100% - (1.875rem * 2));
    padding: 1.875rem 0px;

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-x-big);
        flex: 1 0 0;
        align-self: stretch;
        padding: 0px var(--gap-normal);
    }

    &-title {
        color: var(--color-light-variant);
    }

    &-description {
        color: var(--color-light);
    }

    &-buttons {
        display: flex;
        align-items: flex-start;
        gap: 2.5rem;
        align-self: stretch;
        padding: 0px var(--gap-normal);
    }
}

.active-slide {
    animation: slider-in 3s ease-in-out both;
}

.inactive-slide {
    animation: slider-out 3s ease-in-out both;
}

.active-slide-reverse {
    animation: slider-in-reverse 3s ease-in-out both;
}

.inactive-slide-reverse {
    animation: slider-out-reverse 3s ease-in-out both;
}

@media only screen and (min-width: 700px){
    .values {
        gap: var(--gap-x-big);
    }
    
    .slide {
        height: calc(100% - (6.25rem * 2));
        padding: var(--gap-max) 0px;
        gap: var(--gap-max);
    
        &-content {
            gap: var(--gap-x-big);
            padding: 0px var(--gap-x-big);
        }

        &-buttons {
            display: flex;
            align-items: flex-start;
            gap: 2.5rem;
            align-self: stretch;
            padding: 0px var(--gap-x-big);
            width: min-content;
        }
    }
}

@keyframes slider-in {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}

@keyframes slider-out {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes slider-in-reverse {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

@keyframes slider-out-reverse {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}