<section class="values">
    <div class="slider">
        <div
            class="slide"
            *ngFor="let slide of slides; index as i"
            [ngClass]="{ 
                'active-slide': (i === currentSlideIndex && direction === 'normal'), 
                'inactive-slide': (i !== currentSlideIndex && direction === 'normal'),
                'active-slide-reverse': (i === currentSlideIndex && direction === 'reverse'), 
                'inactive-slide-reverse': (i !== currentSlideIndex && direction === 'reverse')
            }"
            [ngStyle]="setBackground(slide.image)"
            >
            <div class="slide-content">
                <h1 class="slide-title header-1">{{ slide.title }}</h1>
                <p class="slide-description header-2">{{ slide.descripton }}</p>
            </div>
            <div class="slide-buttons">
                <button 
                    class="button text-1 bordered"
                    routerLink="/auth"
                    [ngStyle]="{ color: 'var(--color-primary)', backgroundColor: 'var(--color-light-variant)', borderColor: 'var(--color-primary)' }">
                    Login
                </button>
                <button 
                    class="button text-1 bordered"
                    routerLink="/showcase"
                    [ngStyle]="{ color: 'var(--color-primary)', backgroundColor: 'var(--color-dark-variant)', borderColor: 'var(--color-primary)' }">
                    Explore
                </button>
            </div>
        </div>
    </div>
    <app-switcher [current]="currentSlideIndex" [totalItems]="slides.length" (selected)="selectSlide($event)"></app-switcher>
</section>