:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-big);
    position: relative;
    padding: var(--space-big);

    .title {
      color: var(--color-dark);
      text-align: center;
    }

    .description {
      color: var(--color-dark);
      text-align: center;
    }

    .buttons {
        display: flex;
        align-items: flex-start;
        gap: 2.5rem;
        align-self: stretch;
        padding: 0px var(--space-normal);
    }
}

@media only screen and (min-width: 760px){
    :host {
      padding: var(--space-max);
  }
}
