:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-normal);
    height: 100vh;
    position: relative;
    background: url(../../../../assets/images//home-value-projects.png);
    background-size: cover;
    background-blend-mode: screen;
    padding: var(--gap-normal);

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-x-big);
        flex: 1 0 0;
        align-self: stretch;
        padding: var(--gap-normal);
    }

    .title {
      color: var(--color-light);
    }

    .description {
      color: var(--color-white);
    }

    .buttons {
        display: flex;
        align-items: flex-start;
        gap: 2.5rem;
        align-self: stretch;
        padding: 0px var(--gap-normal);
    }
}

@media only screen and (min-width: 760px){
    :host {
      padding: var(--gap-x-big);

      .content {
          padding: var(--gap-normal);
      }
  }
}
