<div class="content">
    <h1 class="title header-1">{{ title }}</h1>
    <p class="description header-2">{{ descripton }}</p>
</div>
<div class="buttons">
    <button
        class="button text-1 bordered"
        routerLink="/auth"
        *ngIf="!auth"
        [ngStyle]="{ color: 'var(--color-primary)', backgroundColor: 'var(--color-light)', borderColor: 'var(--color-primary)' }">
        Login
    </button>
    <button
        class="button text-1 bordered"
        routerLink="/profile"
        *ngIf="auth"
        [ngStyle]="{ color: 'var(--color-primary)', backgroundColor: 'var(--color-light)', borderColor: 'var(--color-primary)' }">
        Profile
    </button>
    <button
        class="button text-1 bordered"
        routerLink="/showcase"
        [ngStyle]="{ color: 'var(--color-primary)', backgroundColor: 'var(--color-black)', borderColor: 'var(--color-primary)' }">
        Explore
    </button>
</div>
