<div class="header">
    <h1 class="header-title header-3">Projects</h1>

    <span class="header-controls">
        <span class="material-symbols-outlined header-controls-icon">filter_alt</span>
        <span class="material-symbols-outlined header-controls-icon" routerLink="/transactions/create">add</span>
    </span>
</div>

<div class="transactions" *ngIf="transactions.length">
    <app-table-header [list]="['', 'title', 'category', 'duration', 'price']"></app-table-header>
    <div class="transactions-list">
        <!-- <app-project-item *ngFor="let item of transactions" [project]="item" [routerLink]="'/transactions/' + item._id"></app-project-item> -->
    </div>
</div>

<app-empty *ngIf="!transactions.length" name="project"></app-empty>