<app-tabs [list]="tabs" (select)="navigate($event)" [selected]="selectedTab"></app-tabs>

<div class="more">
    <span class="options elevated" *ngIf="showMore">
        <span class="options-item" [routerLink]="['info', { edit: 1 }]">
            <span class="material-symbols-rounded option-icon">grid_view</span>
            <h1 class="text-1 options-title">Update Profile</h1>
        </span>

        <span class="options-item">
            <span class="material-symbols-rounded option-icon">grid_view</span>
            <h1 class="text-1 options-title">Update Kin</h1>
        </span>

        <span class="options-item">
            <span class="material-symbols-rounded option-icon">grid_view</span>
            <h1 class="text-1 options-title">Update Image</h1>
        </span>

        <span class="options-item">
            <span class="material-symbols-rounded option-icon">grid_view</span>
            <h1 class="text-1 options-title">Dashboard</h1>
        </span>
    </span>

    <span class="material-symbols-rounded more-icon" (click)="showMore = !showMore">grid_view</span>
</div>

<router-outlet></router-outlet>