:host {
    display: flex;
    width: calc(100% - calc(var(--gap-small) * 2));
    padding: var(--gap-small);
    align-items: center;
    justify-content: space-around;
    gap: var(--gap-small);
    background: var(--color-light);

    .pane-icon {
        display: flex;
        padding: var(--gap-x-small);
        justify-content: center;
        align-items: center;
        font-size: var(--gap-big);
        color: var(--color-dark);
        border-radius: var(--gap-x-small);
    }

    .pane-icon.active {
        color: var(--color-primary);
        box-shadow: var(--shadow-high);
    }
}

@media only screen and (min-width: 760px){
    :host {
        display: none;
    }
}