:host {
    display: flex;
    width: -webkit-fill-available;
    padding: var(--space-x-small);
    align-items: center;
    justify-content: space-around;
    gap: var(--space-small);
    background: var(--color-light);

    .pane-icon {
        display: flex;
        padding: var(--space-x-small);
        justify-content: center;
        align-items: center;
        font-size: var(--space-big);
        color: var(--color-dark);
        border-radius: var(--space-x-small);
    }

    .pane-icon.active {
        color: var(--color-primary);
        box-shadow: var(--shadow-high);
    }
}

@media only screen and (min-width: 760px){
    :host {
        display: none;
    }
}
