<span class="material-symbols-outlined pane-icon" [ngClass]="{active: active === 'dashboard'}" routerLink="/dashboard">dashboard</span>
<span class="material-symbols-outlined pane-icon" [ngClass]="{active: active === 'projects'}" routerLink="/projects">cases</span>
<span class="material-symbols-outlined pane-icon" [ngClass]="{active: active === 'contracts'}" routerLink="/contracts">checkbook</span>
<span class="material-symbols-outlined pane-icon" [ngClass]="{active: active === 'wallet'}" routerLink="/transactions">wallet</span>
<span class="material-symbols-outlined pane-icon" [ngClass]="{active: active === 'settings'}" routerLink="/settings">settings</span>
