:host {
    display: none;

    .app-details {
        display: flex;
        align-items: center;
        gap: var(--gap-small);
        padding: var(--gap-small);
        cursor: pointer;
    }
    
    .app-name {
        color: var(--color-primary);
    }

    .main {
        overflow: auto;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
    }
    
    .pane {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-big);
        padding: var(--gap-small);
    
        &-item {
            display: flex;
            justify-content: space-between;
            width: -webkit-fill-available;
            padding: var(--gap-small);
            align-items: center;
            gap: var(--gap-normal);
            border-radius: var(--gap-small);
            cursor: pointer;
            color: var(--color-dark);
    
            &:hover, &-active {
                color: var(--color-primary) !important;
                box-shadow: var(--shadow-high);
                transition-duration: .5s;
            }
        }
    
        &-icon {
            font-size: var(--gap-big);
            color: inherit;
        }
    
        &-title {
            color: inherit;
            text-align: left;
            width: 100%;
        }
    }
    
    .sidebar-toggle{
        font-size: var(--gap-big);
        color: var(--color-secondary);
        cursor: pointer;
        align-self: center;
        box-shadow: var(--shadow-high);
        padding: var(--gap-small);
        border-radius: 50%;
        transition-duration: .5s;
    
        &:hover {
            background-color: var(--color-dark);
            color: var(--color-primary);
        }
    }
}

@media only screen and (min-width: 760px){
    :host {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr max-content;
        height: -webkit-fill-available;
        padding: var(--gap-small) var(--gap-normal);
        align-items: flex-start;
        background: var(--color-light);
        gap: var(--gap-big);
        overflow: hidden;
    }
}