<div class="pane">
    <app-button text="Dashboard" icon="dashboard" [elevated]="active === 'dashboard'" routerLink="/dashboard" bgColor="var(--color-light)" color="var(--color-dark)"></app-button>

    <app-button text="Projects" icon="checkbook" [elevated]="active === 'projects'" routerLink="/projects" bgColor="var(--color-light)" color="var(--color-dark)"></app-button>

    <app-button text="Contracts" icon="cases" [elevated]="active === 'contracts'" routerLink="/contracts" bgColor="var(--color-light)" color="var(--color-dark)"></app-button>

    <app-button text="Transactions" icon="wallet" [elevated]="active === 'transactinos'" routerLink="/transactions/history" bgColor="var(--color-light)" color="var(--color-dark)"></app-button>

    <app-button text="Settings" icon="settings" [elevated]="active === 'settings'" routerLink="/settings" bgColor="var(--color-light)" color="var(--color-dark)"></app-button>
</div>
