<div class="pane">
    <app-button text="Dashboard" icon="dashboard" [elevated]="active === 'dashboard'" routerLink="/dashboard" bgColor="var(--color-light)" color="var(--color-dark)"></app-button>

    <app-button text="Users" icon="settings" [elevated]="active === 'settings'" routerLink="/users" bgColor="var(--color-light)" color="var(--color-dark)"></app-button>

    <app-button text="Settings" icon="settings" [elevated]="active === 'settings'" routerLink="/settings" bgColor="var(--color-light)" color="var(--color-dark)"></app-button>
</div>
