:host {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    gap: var(--gap-small);
    position: relative;
    border: 1px solid var(--color-light);
    padding: var(--gap-small);
    border-radius: var(--gap-small);

    .reference {
        display: flex;
        flex-direction: row;
        gap: var(--gap-small);
        align-items: center;
    }

    .attachment {
        display: flex;
        flex-direction: row;
        gap: var(--gap-small);
        align-items: center;
    }

    .statement {
        display: flex;
        flex-direction: row;
        gap: var(--gap-small);
        align-items: center;
        justify-content: space-between;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: calc(var(--gap-small) * -1);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: var(--gap-small) var(--gap-small) 0 var(--gap-small);
        border-color: var(--color-light) transparent transparent transparent;
    }
}

@media only screen and (min-width: 760px){
    
}