
@keyframes slide-in {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}

@keyframes slide-out {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes slide-in-reverse {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

@keyframes slide-out-reverse {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        visibility: 1;
        visibility: visible;
    }
}


@keyframes fade-out {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        visibility: 0;
        visibility: hidden;
    }
}

