<div class="home-works">
    <h1 class="home-works-title">How it works</h1>
    <div class="home-works-list">
        <div class="home-works-item" *ngFor="let item of list; index as i" [ngClass]="{ reversed: i%2 !== 0 }">
            <img [src]="item.image" alt="" class="home-works-image">
            <span class="home-works-details">
                <p class="home-works-description">
                    {{item.description}}
                </p>
                <app-button [text]="item.action" textColor="#22D896" [background]="item.background"></app-button>
            </span>
        </div>
    </div>
</div>