<div class="container">
    <form action="" class="form" [formGroup]="form" (ngSubmit)="updateDeliverable()">
        <app-input type="text" name="title" class="form-group" [control]="getControl('title')"></app-input>
        <app-input type="number" name="price" class="form-group" [control]="getControl('price')" measure="NGN"></app-input>
        <app-input type="number" name="duration" class="form-group" [control]="getControl('duration')" measure="Days"></app-input>
        <app-text-area type="text" name="description" class="form-group" [control]="getControl('description')"></app-text-area>
        <button 
            [disabled]="!updateData || form.invalid"
            class="button form-group text-1"
            type="submit">
            Update Deliverable
        </button>
    </form>
</div>