:host {
    display: flex;
    padding: var(--gap-normal);
    flex-direction: column;
    align-items: center;
    gap: var(--gap-big);
    width: -webkit-fill-available;
}

@media only screen and (min-width: 760px){
    :host {
        gap: var(--gap-big);
    }
}