<h1 class="page-title header-3">Our Key Features</h1>
    <div class="list">
        <span class="item">
            <img src="../../../../assets/images/home-features-trust.png" alt="" class="image">
            <p class="description text-1">
                We provides a secure escrow service for safe and reliable transactions within the platform.
            </p>
        </span>

        <span class="item">
            <img src="../../../../assets/images/home-features-safe.png" alt="" class="image">
            <p class="description text-1">
                We provide seamless project management features that makes the platform easy-to-use.
            </p>
        </span>

        <span class="item">
            <img src="../../../../assets/images/home-features-contract.png" alt="" class="image">
            <p class="description text-1">
                We provide a trustworthy contracting experience for all parties involved.
            </p>
        </span>
    </div>