<div class="header">
  <h1 class="header-3">What we build</h1>
  <span class="text-1 description">From custom web applications to intelligent AI agents, we create digital systems that drive growth.</span>
</div>

<div class="features">
  <span class="item">
      <span class="material-symbols-outlined icon">code</span>
      <span class="name text-1">Custom web apps</span>
      <p class="description text-3">Bespoke websites and applications built for performance and scale.</p>
  </span>

  <span class="item">
      <span class="material-symbols-outlined icon">robot</span>
      <span class="name text-1">AI Agents</span>
      <p class="description text-3">Intelligent agents to automate tasks and provide smart assistance.</p>
  </span>

  <span class="item">
      <span class="material-symbols-outlined icon">api</span>
      <span class="name text-1">Web APIs</span>
      <p class="description text-3">Robust and secure APIs to connect your services and data.</p>
  </span>

  <span class="item">
      <span class="material-symbols-outlined icon">automation</span>
      <span class="name text-1">Automation Flows</span>
      <p class="description text-3">Seamless automation to streamline your business processes.</p>
  </span>
</div>
